@import '../../../../../submodules/dls/src/scss/components/_grid.scss';


.title{
    width: 100%;
}

.terms {
    color: #333333;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}