<cmx-dialog-v3 #termsDialog [enableToClose]="options?.enableToClose" [enableFooter]="true" backgroundColor="gray" height="auto" maxHeight="550px" minHeight="50px">   
    <div cmx-dialog-body>
        <div class="terms">
            <h2 class="title">{{t.pt(termsTitle)}}</h2>
            <h2 *ngIf="termsSubtitle" class="title">{{t.pt('label.legal.rights_reserved')}}</h2>
            <span [innerHTML]="termVersionItem?.termDocument"></span>
        </div>
    </div>

    <div cmx-dialog-footer style="text-align:right; padding: 12px 0px;">
        <a *ngIf="hasSubscribers(onCancelDialog.observers) && options?.enableFooter" class="button-ghost active" (click)="cancelDialog()" onclick="return false;" href="#">{{t.pt('action.cancel')}}</a>
        <a *ngIf="hasSubscribers(onAcceptDialog.observers) && options?.enableFooter" class="button active bright-green" (click)="acceptDialog()" onclick="return false;" href="#">{{t.pt('action.accept')}}</a>
    </div>
</cmx-dialog-v3>