@import '../../../../../submodules/dls/src/scss/variables/_colors.scss';
.container {
	height: auto;
	width: 100%;
	background-color: $true-white;
	padding: 0px;
}
cmx-table-item {
    margin-bottom: 15px;
    height: 60px !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
    &:hover{
        box-shadow: unset;
    }
    // &:nth-child(even) {
    //     background-color: $disabled-grey !important;
    //  }
}

.body-noinfo {
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.datarow {
    font-size: 14px;
    line-height: 19px;
    padding: 10px;
    font-weight: 500;
}

.itemsplant {
    margin-bottom: 60px;
}

.empty-state{
    background-color: $true-white;
    padding: 20px;
}

.clickable{
    cursor: pointer;
}
