<div class="container">
    <div class="itemsplant">
        <!-- <cemex-plant-table [headerKeys]="headerData" [rowData]="plantsSearch" [filterData]="filterData"></cemex-plant-table> -->
        <cmx-table *ngIf="selectedReportHeaderData">
            <cmx-table-header fxLayout="row">
                <cmx-header-cell fxFlex="{{ (report.width) ? report.width : 14 }}" fxLayout="row" fxLayoutAlign="start center" *ngFor="let report of selectedReportHeaderData">
                    <span>{{ (report.localeName) ? t.pt(report.localeName) : report.columnName }}</span>
                    <cmx-cell-filters *ngIf="report.filter">
                        <filter-sorter id="filtro" [collection]="" [keyTitle]="" (isfiltered)="isFiltered($event)" (onSelectedFilterItem)=getFilterData($event);></filter-sorter>
                    </cmx-cell-filters>
                </cmx-header-cell>
            </cmx-table-header>

            <cmx-table-body>
                <div class="empty-state body-noinfo" *ngIf="!reviewReportData?.reportResults">
                        {{ t.pt("label.no-info") }}
                </div>
                
                <ng-container *ngFor="let item of reviewReportData?.reportResults">
                    <ng-container *ngFor="let row of item.dataReport">
                        <cmx-table-item fxLayout="row" [checked]="false">
                            <div *ngFor="let report of selectedReportHeaderData" [class.clickable]="report.clickable"
                            (click)="onSelectItem(row)"
                            fxFlex="{{ (report.width) ? report.width : 14 }}" fxLayout="row" fxLayoutAlign="start center">
                                <span class="datarow">{{ row[ report.columnField ] }}</span>
                            </div>
                        </cmx-table-item>
                    </ng-container>    
                </ng-container>
                <!-- </cmx-virtual-scroll> -->
            </cmx-table-body>
        </cmx-table>
    </div>
</div>