.truck-filter {
    height: 100%;
    display: flex;
    flex-direction: column;

    .label-header {
        color: #001B3A;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
    }
    
    .filter-item {
        font-size: 12px;
        line-height: 16px;
        color: #1A1A1A;
    }

    cmx-input {
        margin: 20px 0px;
    }

    cmx-dropdown {
        text-transform: capitalize;
        margin: 15px 0px;
    }

    .list-container {
        margin-top: 10px;
        flex-grow: 1;
        border-top-color: #D6D6D6;
        border-top-style: solid;
        border-top-width: 1px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 10px;
            background-color: rgba(0,0,0,0);
            -webkit-border-radius: 100px;
        }
        // hover effect for both scrollbar area, and scrollbar 'thumb'
        &::-webkit-scrollbar:hover {
            background-color: rgba( 0, 0, 0, 0.20 );
        }
         
        // The scrollbar 'thumb' ...that marque oval shape in a scrollbar
        &::-webkit-scrollbar-thumb:vertical {
            background: rgba( 0, 0, 0, 0.5 );
            -webkit-border-radius: 100px;
            background-clip: padding-box;
            border: 2px solid rgba(0, 0, 0, 0);
            min-height: 10px; // Prevent it from getting too small
        }
        &::-webkit-scrollbar-thumb:vertical:active {
            background: rgba( 0, 0, 0, 0.61 );
            -webkit-border-radius: 100px;
        }

        .item-truck {
            margin: 10px 0px;
            font-size: 12px;
            line-height: 16px;
            color: #1A1A1A;
            cursor: pointer;
        }

    }   
}

.filter-item {
    font-size: 12px;
    line-height: 16px;
    color: #1A1A1A;
    text-transform: capitalize;
}

::ng-deep { 
    .cmx-input .type-filter>.cmx-dropdown__placeholder span {
        text-transform: initial;
    }

    .fixed-dropdown>.cmx-dropdown__items-positioner>.dropdown-items {
        max-height: 200px;
    }
}
