<div *ngIf="allTrucks != undefined &&  allTrucks.length > 0" class="truck-filter">
    <p class="label-header">{{translation.pt('map.filter.filter-truck')}}</p>
    <div>
        <cmx-dropdown class="cmx-input" placeholder="{{translation.pt(_placeholderTypeFilter)}}" [closeOnClick]="true">
            <cmx-dropdown-item *ngFor="let typeFilter of _typeFilterList" (click)="selectTypeFilter(typeFilter)">
                <p>{{translation.pt(typeFilter.name)}}</p>
            </cmx-dropdown-item>
        </cmx-dropdown>
        <cmx-dropdown *ngIf="_activeTypeFilter.value === _ETypeFilter.BY_STATUS" class="cmx-input fixed-dropdown" placeholder="{{_placeholderTruckStatus}}"
            [closeOnClick]="true">
            <cmx-dropdown-item *ngFor="let status of _truckStatusList" (click)="onSelectTruckStatus(status)">
                <p class="filter-item">{{translation.pt(status.name) + status.numberOfTrucks}}</p>
            </cmx-dropdown-item>
        </cmx-dropdown>
        <cmx-dropdown *ngIf="_activeTypeFilter.value === _ETypeFilter.BY_PLANT" class="cmx-input fixed-dropdown" placeholder="{{_placeholderPlant}}"
            [closeOnClick]="true">
            <cmx-dropdown-item (click)="onSelectTruckPlant(null)">
                <p class="filter-item">{{translation.pt('map.filter.all-plants')}}</p>
            </cmx-dropdown-item>
            <cmx-dropdown-item *ngFor="let plant of _allPlants" (click)="onSelectTruckPlant(plant)">
                <p class="filter-item">{{plant.plantDesc}}</p>
            </cmx-dropdown-item>
        </cmx-dropdown>
        <cmx-dropdown *ngIf="_activeTypeFilter.value === _ETypeFilter.BY_ORDER" class="cmx-input fixed-dropdown" placeholder="{{_placeholderOrder}}"
            enableSearch="true" [closeOnClick]="true">
            <cmx-dropdown-item *ngFor="let order of _orders" (click)="onSelectTruckOrder(order)" [searchValue]="order.orderCode">
                <p class="filter-item">{{order.orderCode}}</p>
            </cmx-dropdown-item>
        </cmx-dropdown>
    </div>
    <div class="list-container">
        <div *ngFor="let truck of _filteredTrucks" class="item-truck" (click)="onSelectedTruckClick(truck)">
            <p>
                {{truck.truckPlate}}
            </p>
        </div>
    </div>
</div>
