cmx-input-autocomplete {
    margin: 0px;
    height: 35px;
}

.search-item {
    display: flex;
    flex-direction: column;
}

::ng-deep { 
    .cmx-medium .cmx-input-autocomplete__items-positioner {
        left: unset;
        right: 20px;
        width: 300px;
    }
}
