<cmx-input-autocomplete class="cmx-medium" placeholder="" [(ngModel)]="_searchValue" [searchService]="_searchMapService" (onSearchResults)="getSearchResults($event)"
    (onSelectElementEvent)="onSelectElementEvent($event)" [numCaracTrigger]="0">
    <cmx-autocomplete-item *ngFor="let item of _resultData" (click)="onClickItem(item)">
        <div class="search-item">
            <p class="table-entry-strong">{{item.displayData}}</p>
            <p class="field-data">{{_translation.pt(getTypeSearchLabel(item.objectData.type))}}</p>
        </div>
    </cmx-autocomplete-item>
</cmx-input-autocomplete>
