@import '../../../../submodules/dls/src/scss/variables/_colors.scss';

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18%;
}

.header .label-header {
    font-family: Roboto;
    font-size: 18px;
    color: $bright-blue;
    line-height: 26px;
    margin-top: 20px;
}

.header .title-monitoring {
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
    color: $deep-blue;
}

.footer-style {
    .prev-btn {
        background: $true-white;
        color: $bright-blue;
    }

    .button {
        text-transform: none;
    }
}

/*DH*/
.reports-dashboard {
    margin-top: 25px;
    margin-bottom: 30px;

    .cmx-tabs {
        width: 100% !important;

        .col {
            display: inline-block;
        }

        .input-label {
            font-size: 12px;
            margin: 0;

            &.radio {
                margin-top: 10px;
            }
        }

        .radio-label {
            font-size: 17px;
        }

        .reports-cmx-input {
            height: 48px;
        }
    }

}

cmx-input-autocomplete { 
    height: 48px !important;
}

.export-excel { 
    position: sticky;
    position: -webkit-sticky;
    top: 66px;
    bottom: 25px;
    float: none;
    background: rgba(255, 255, 255, .8);
    width: calc(100% + 50px);
    padding: 20px;
    margin-right: 0;
    margin-left: -26px;
}

.padding-buttons {
    padding-top: 22px;
}

.padding-row {
    padding-top: 10px;
}

.report-radio {
    height: 0;
    top: -6px;
}

cmx-radio-button {
    padding-top: 12px;
}