<div class="mainDiv" style="background-color: #F4F6F9;">
    <div class="container-fluid">

        <div class="header">
            <span class="label-header">{{t.pt('report.selection')}}</span>
            <span class="title-monitoring">{{ t.pt('reports.subtitle') }}</span>
        </div>

        <div class="reports-dashboard">
            <cmx-tabs>
                <!--SPEEDING-->
                <cmx-tab [title]="t.pt('speeding.title')" (activation)="resetReport('speeding')">
                    <div class="row">
                        <div class="col col-4">
                            <cmx-form-field *ngIf="enableDatepicker" title="{{ t.pt('panel.date.range') }}">
                                <datepicker-input placeholder="{{ t.pt('panel.date.select') }}" (select)="onSelection($event)"></datepicker-input>
                            </cmx-form-field>
                        </div>
                        <div class="col col-4">
                            <cmx-dropdown [enableSearch]="true" class="cmx-input" [title]="t.pt('views.search.select_plant')" [placeholder]="t.pt('views.newuser.all_plants_modal')">
                                <ng-container>
                                    <cmx-dropdown-item [searchValue]="t.pt('views.newuser.all_plants_modal')">
                                        <cmx-checkbox (change)="checkAllPlants($event)" [checked]="checkedAllPlants">{{ t.pt('views.newuser.all_plants_modal') }}</cmx-checkbox>
                                    </cmx-dropdown-item>
                                </ng-container>

                                <ng-container *ngFor="let plant of plants">
                                    <cmx-dropdown-item [searchValue]="plant.plantDesc">
                                        <cmx-checkbox [checked]="plant.checked" (change)="checkPlant(plant, $event)">
                                            {{ plant.plantDesc }}
                                        </cmx-checkbox>
                                    </cmx-dropdown-item>
                                </ng-container>
                            </cmx-dropdown>
                        </div>
                    </div>
                    <div class="row padding-row">
                        <div class="col col-8 text-right padding-buttons">
                            <button (click)="resetReport('speeding')" class="button active solid-blue">{{ t.pt("reports.reset") }} </button>
                            <button [class.disabled]="(!date) || (!plantsSelected.length)" [disabled]="(!date) || (!plantsSelected.length)" (click)="generateReport('speeding')"
                                class="button active bright-blue">{{ t.pt("reports.generate_report") }}</button>
                        </div>
                    </div>
                </cmx-tab>

                <!--WAITING TIME-->
                <cmx-tab [title]="t.pt('waiting.title')" (activation)="resetReport('waitingTime')">
                    <div class="row">
                        <div class="col col-4">
                            <cmx-form-field *ngIf="enableDatepicker" title="{{ t.pt('panel.date.range') }}">
                                <datepicker-input placeholder="{{ t.pt('panel.date.select') }}" (select)="onSelection($event)"></datepicker-input>
                            </cmx-form-field>
                        </div>
                        <div class="col col-4">
                            <cmx-dropdown [enableSearch]="true" class="cmx-input" [title]="t.pt('views.search.select_plant')" [placeholder]="plantsPlaceHolder">
                                <ng-container>
                                    <cmx-dropdown-item [searchValue]="t.pt('views.newuser.all_plants_modal')">
                                        <cmx-checkbox (change)="checkAllPlants($event)" [checked]="checkedAllPlants">{{ t.pt('views.newuser.all_plants_modal') }}</cmx-checkbox>
                                    </cmx-dropdown-item>
                                </ng-container>

                                <ng-container *ngFor="let plant of plants">
                                    <cmx-dropdown-item [searchValue]="plant.plantDesc">
                                        <cmx-checkbox [checked]="plant.checked" (change)="checkPlant(plant, $event)">
                                            {{ plant.plantDesc }}
                                        </cmx-checkbox>
                                    </cmx-dropdown-item>
                                </ng-container>
                            </cmx-dropdown>
                        </div>
                    </div>
                    <div class="row padding-row">
                        <div class="col col-12 report-radio">
                            <label class="input-label radio">{{t.pt("reports.criteria")}}</label>
                        </div>
                        <div class="col col-2">
                            <cmx-radio-button class="icon-wrap-container" [name]="'criteria'" [checked]="criteria === 'client'" [id]="'client'" [value]="1"
                                (click)="criteria = 'client'">
                                <h4 class="radio-label">{{ t.pt('map-history.criteria-filter-client') }}</h4>
                            </cmx-radio-button>
                        </div>
                        <div class="col col-2">
                            <cmx-radio-button class="icon-wrap-container" [name]="'criteria'" [checked]="criteria === 'order'" [id]="'order'" [value]="2"
                                (click)="criteria = 'order'">
                                <h4 class="radio-label">{{ t.pt('map-history.criteria-filter-order') }}</h4>
                            </cmx-radio-button>
                        </div>
                        <div class="col col-4 text-right padding-buttons">
                            <button (click)="resetReport('waitingTime')" class="button active solid-blue">{{ t.pt("reports.reset") }} </button>
                            <button (click)="generateReport('waitingTime')"
                                [class.disabled]="(!date) || (!plantsSelected.length) || (!criteriaData)"
                                [disabled]="(!date) || (!plantsSelected.length) || (!criteriaData)" class="button active bright-blue">{{ t.pt("reports.generate_report") }}</button>
                        </div>
                    </div>
                    <div class="row" *ngIf="criteria != 'waitingTime'">
                        <div class="col col-4">
                            <cmx-input *ngIf="criteria" [title]="criteria === 'client' ? t.pt('reports.clientid') : t.pt('reports.order-id')">
                                <input [(ngModel)]="criteriaData" class="reports-cmx-input" type="text" />
                            </cmx-input>
                        </div>
                    </div>
                </cmx-tab>

                <!--HOURS OF SERVICE-->
                <cmx-tab [title]="t.pt('service.title')" (activation)="resetReport('hoursOfService')">
                    <div class="row">

                        <div class="col col-4">
                            <cmx-form-field *ngIf="enableDatepicker" title="{{ t.pt('panel.date.range') }}">
                                <datepicker-input placeholder="{{ t.pt('panel.date.select') }}" (select)="onSelection($event)"></datepicker-input>
                            </cmx-form-field>
                        </div>

                        <div class="col col-4">
                            <cmx-dropdown [enableSearch]="true" class="cmx-input" [title]="t.pt('views.search.select_plant')" [placeholder]="plantsPlaceHolder">
                                <ng-container>
                                    <cmx-dropdown-item [searchValue]="t.pt('views.newuser.all_plants_modal')">
                                        <cmx-checkbox (change)="checkAllPlants($event)" [checked]="checkedAllPlants">{{ t.pt('views.newuser.all_plants_modal') }}</cmx-checkbox>
                                    </cmx-dropdown-item>
                                </ng-container>

                                <ng-container *ngFor="let plant of plants">
                                    <cmx-dropdown-item [searchValue]="plant.plantDesc">
                                        <cmx-checkbox [checked]="plant.checked" (change)="checkPlant(plant, $event)">
                                            {{ plant.plantDesc }}
                                        </cmx-checkbox>
                                    </cmx-dropdown-item>
                                </ng-container>
                            </cmx-dropdown>
                        </div>
                    </div>
                    <div class="row padding-row">
                        <div class="col col-8 text-right padding-buttons">
                            <button (click)="resetReport('hoursOfService')" class="button active solid-blue">{{ t.pt("reports.reset") }} </button>
                            <button (click)="generateReport('hoursOfService')" [class.disabled]="(!date) || (!plantsSelected.length)" [disabled]="(!date) || (!plantsSelected.length)"
                                class="button active bright-blue">{{ t.pt("reports.generate_report") }}</button>
                        </div>
                    </div>
                </cmx-tab>

                <!--PER TRIP-->
                <cmx-tab [title]="t.pt('pertrip.title')" (activation)="resetReport('perTrip')">
                    <div class="row">
                        <div class="col col-4">
                            <cmx-form-field *ngIf="enableDatepicker" title="{{ t.pt('panel.date.range') }}">
                                <datepicker-input placeholder="{{ t.pt('panel.date.select') }}" (select)="onSelection($event)"></datepicker-input>
                            </cmx-form-field>
                        </div>
                        <div class="col col-4">
                            <cmx-dropdown [enableSearch]="true" class="cmx-input" [title]="t.pt('views.search.select_plant')" [placeholder]="plantsPlaceHolder">
                                <ng-container>
                                    <cmx-dropdown-item [searchValue]="t.pt('views.newuser.all_plants_modal')">
                                        <cmx-checkbox (change)="checkAllPlants($event)" [checked]="checkedAllPlants">{{ t.pt('views.newuser.all_plants_modal') }}</cmx-checkbox>
                                    </cmx-dropdown-item>
                                </ng-container>
                                <ng-container *ngFor="let plant of plants">
                                    <cmx-dropdown-item [searchValue]="plant.plantDesc">
                                        <cmx-checkbox [checked]="plant.checked" (change)="checkPlant(plant, $event)">
                                            {{ plant.plantDesc }}
                                        </cmx-checkbox>
                                    </cmx-dropdown-item>
                                </ng-container>
                            </cmx-dropdown>
                        </div>
                    </div>

                    <div class="row padding-row">
                        <div class="col col-4">
                            <label class="input-label" for="">{{ t.pt('reports.order-code') }}</label>
                            <cmx-input-autocomplete #autocomplete class='cmx-medium' placeholder="{{ t.pt('reports.order-code') }}" [(ngModel)]="searchValue" [searchService]="orderService"
                                (onSearchResults)="getSearchResults($event)" (onSelectElementEvent)="onSelectElementEvent($event)">
                                <cmx-autocomplete-item *ngFor="let item of _resultData" (click)="onClickItem(item)">
                                    {{item.displayData}}
                                </cmx-autocomplete-item>
                            </cmx-input-autocomplete>
                        </div>
                        <!-- <div class="col col-4">
                            <cmx-input [title]="'Order Id'" style="margin-top: 23px;">
                                <input class="reports-cmx-input" type="text"/>
                            </cmx-input>
                        </div> -->
                        <div class="col col-4 text-right padding-buttons">
                            <button (click)="resetReport('perTrip')" class="button active solid-blue">{{ t.pt("reports.reset") }} </button>
                            <button (click)="generateReport('perTrip')" [class.disabled]="(!date) || (!plantsSelected.length) || (!autocomplete._searchValue)"
                                [disabled]="(!date) || (!plantsSelected.length) || (!autocomplete._searchValue)" class="button active bright-blue">{{ t.pt("reports.generate_report") }}</button>
                        </div>
                    </div>
                </cmx-tab>
            </cmx-tabs>
        </div>

        <review-report-template #review [selectedReportHeaderData]="selectedReportHeaderData">
        </review-report-template>

        <bottom-overlay-content *ngIf="selectedReportHeaderData && review.reviewReportData.reportResults" [opacity]="true">
            <button (click)="exportToExcel()" class="button active bright-blue">{{ t.pt('reports.export-to-excel') }}</button>
        </bottom-overlay-content>
    </div>
</div>