<div class="maindiv">
    <h3>{{t.pt('driver.menu.scheduling')}}</h3>

    <cmx-dropdown closeOnClick="true" placeholder="{{plantSelected}}">
        <cmx-dropdown-item (click)="getInputObservable(option)" *ngFor="let option of plants">
            <span>{{option.plantDesc}}</span>
        </cmx-dropdown-item>
    </cmx-dropdown>
    <div class="searchdates rectangle">

        <div class="textdate">
            <div class="cmx-icon-straight-arrow-left arrowleft" (click)="decreaseDate()"></div>
            <span>
                {{t.pt(day)}}, {{t.pt(month)}} {{dayDate}}
            </span>
            <div class="cmx-icon-straight-arrow-right arrowright" (click)="incrementDate()"></div>
        </div>
    </div>
    <cmx-table id="tblscheduling" class="table-schedule">
        <cmx-table-header fxLayout="row">
            <cmx-header-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                <span>{{t.pt('scheduling.status')}}</span>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                <div *ngIf="filtericonplant" class="icon-filter">

                </div>
                <span [ngClass]="{'margin-header':filtericonplant}">{{t.pt('scheduling.driver')}}</span>
                <cmx-cell-filters>
                    <filter-sorter [collection]="_allDriversRows" [keyTitle]="plantDesc" (onSelectedFilterItem)="getFilterData($event)"
                        [sorterCustomFn]="sorterDriversFn" [searchFilterFn]="searchDriversFn">
                    </filter-sorter>
                </cmx-cell-filters>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                <span>{{t.pt('scheduling.truck')}}</span>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                <span>{{t.pt('scheduling.hour')}}</span>
            </cmx-header-cell>
            <cmx-header-cell fxFlex="55" fxLayout="row" fxLayoutAlign="start center">
            </cmx-header-cell>
        </cmx-table-header>
        <cmx-table-body *ngIf="complete" class="scroll-body">
            <ng-container *ngIf="_schedulePlantDate && _schedulePlantDate.scheduleDetails">
                <div *ngFor="let schedule of _schedulePlantDate.scheduleDetails">
                    <cmx-table-item fxLayout="row" [checked]="false" class="itemrow" *ngIf="schedule.crudOperation !='D'">
                        <div class="datarow" fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                            <div class="status" [ngClass]="{'warning' : schedule.scheduleStatus.scheduleStatusId == 1, 'validate' : schedule.scheduleStatus.scheduleStatusId == 2, 'seen' : schedule.scheduleStatus.scheduleStatusId == 3}">
                                <span class="status__desc">{{t.pt('views.schedule.status.' + schedule.scheduleStatus.scheduleStatusId)}}</span>
                            </div>
                        </div>
                        <div class="datarow" fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            <div *ngIf="schedule.crudOperation !='D'">
                                <span class="dataspan">{{schedule.driver.driverDesc}}</span>
                            </div>
                        </div>
                        <div class="truckInput datarow" fxFlex="10" fxLayout="row" fxLayoutAlign="start center" >
                            <div *ngIf="!schedule.editing  && schedule.crudOperation !='D'">
                                <span class="dataspan">{{schedule.scheduleNote}}</span>
                            </div>
                            <cmx-input-v2 title="" *ngIf="schedule.editing">
                                <input type="text" class="truckInput" value="{{schedule.scheduleNote}}" [(ngModel)]=editDriverTruck>
                            </cmx-input-v2>

                        </div>
                        <div fxFlex="10" class="datarow" fxLayout="row" has-filters="true" fxLayoutAlign="start center">
                            <div *ngIf="!schedule.editing  && schedule.crudOperation !='D'">
                                <span class="dataspan">{{schedule.scheduleDetailTime}}</span>
                            </div>
                            <cmx-input-v2 title="" *ngIf="schedule.editing">
                                <input type="time" value="{{schedule.scheduleDetailTime}}" [(ngModel)]="editDriverTime" [ngClass]="{'cmx-input-v2__invalid': !isValidHour}"
                                />
                            </cmx-input-v2>

                        </div>

                        <div fxFlex="55" fxLayout="row" fxLayoutAlign="end center">
                            <div *ngIf="!schedule.editing  && schedule.crudOperation !='D' && _canEditSchedule">
                                <div class="deleteicon editing-buttons" (click)="deleteSchedule(schedule)">
                                    <svg class="icon-trash-silver icon-custom">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-trash"></use>
                                    </svg>
                                </div>
                                <div *ngIf="_canEditSchedule" class="editicon editing-buttons" (click)="editRow(schedule)">

                                </div>
                            </div>
                            <span class="datarow editing-buttons" *ngIf="schedule.editing">
                                <svg class="icon-close-silver icon-custom" (click)="cancelEdit(schedule)">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                                </svg>
                                <svg class="icon-accepted-ok icon-custom" *ngIf="isValidHour">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-accepted-ok" (click)="editRowData(schedule)"></use>
                                </svg>
                            </span>
                        </div>
                    </cmx-table-item>
                </div>
            </ng-container>
        </cmx-table-body>
    </cmx-table>

    <cmx-list>
        <cmx-list-item fxLayout="row" class="list-row" shadow>
            <div class="data-list-row" fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
            </div>
            <div class="data-list-row" fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                <cmx-input-autocomplete placeholder="Driver Name" [(ngModel)]="searchValue" [searchService]="driversService" (onSearchResults)="getSearchResults($event)"
                    (selectedByArrowKey)="onSelectedByArrowKey($event)">
                    <cmx-autocomplete-item *ngFor="let item of _resultData" (click)="onClickItem(item)">
                        {{item.displayData}}
                    </cmx-autocomplete-item>
                </cmx-input-autocomplete>
            </div>
            <div class="truckInput" fxFlex="10" class="data-list-row" fxLayout="row" fxLayoutAlign="start center">
                <cmx-input-v2 title="">
                    <input type="text" class="truckInput" required maxlength="10" [(ngModel)]="addDriverTruck">
                </cmx-input-v2>
            </div>
            <div fxFlex="10" fxLayout="row" class="data-list-row" has-filters="true" fxLayoutAlign="start center">
                <cmx-input-v2 title="">
                    <input type="time" [(ngModel)]="addDriverTime" [ngClass]="{'cmx-input-v2__invalid': !isValidNewHour}" />
                </cmx-input-v2>
            </div>
            <div class="data-list-row" fxFlex="55" fxLayout="row" fxLayoutAlign="end center">
            </div>
        </cmx-list-item>

    </cmx-list>

    <div class="content-buttons-chedule">
        <a class="button" [ngClass]="{'disabled' : !_canEditSchedule}" href="#" onclick="return false;" (click)='getLastSchedule()'>
            {{t.pt('scheduling.copy.last')}}
        </a>


        <button class="button bright-green" [disabled]="isDisableAdd()" [class.disabled]="isDisableAdd()" href="#" onclick="return false;"
            (click)="addSchedule()">
            <span class="btn-icon">
                <svg class="icon-plus-basic">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus-basic"></use>
                </svg>
            </span>
            {{t.pt('views.schedule.adddnewriver')}}
        </button>
    </div>

    <bottom-overlay-content>
        <a class="button " href="#" [ngClass]="{'disabled': firstEntry || !(hasModifications) || !_canEditSchedule}" onclick="return false;"
            (click)="saveChange()">{{t.pt('scheduling.save')}}</a>
        <a class="button " href="#" [ngClass]="{'disabled': firstEntry || !(!hasModifications && pendingSchedule) || !_canEditSchedule }"
            onclick="return false;" (click)="sendNotificacion()">{{t.pt('scheduling.send.notifications')}}</a>
    </bottom-overlay-content>
</div>