@import '../../../../../submodules/dls/src/scss/variables/_colors.scss';

.maindiv {
  padding: 23px 34px 0 32px;
}
h3 {
  color: #3FA9F5;
}
.searchdates {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
}
.rectangle {
  height: 32px;
  width: 100%;
  border-radius: 2px;
  background-color: #003876;
  text-align: center;
  justify-content: center;
  margin: 0 0 14px;
}

.textdate {
  height: 18px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}

.arrowleft {
  padding: 0 5px 0 0;
  float: left;
  cursor: pointer;
}

.arrowright {
  padding: 0 0 0 5px;
  float: right;
  cursor: pointer;
}

.cmx-icon-straight-arrow-right:before {
  content: "\E927";
  height: 10.98px;
  width: 5.02px;
  opacity: .87;
  transform: rotate(90deg);
  color: white;
}

.cmx-icon-straight-arrow-left:before {
  content: "\E926";
  height: 10.98px;
  width: 5.02px;
  opacity: .87;
  transform: rotate(90deg);
  color: white;
}

.emptyrow {
  padding: 10px 15px;
  color: #001C3B;
  font-family: Roboto;
  font-size: 14px;
  line-height: 19px;
}

cmx-table-item {
  height: 60px !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
}

.cmxdatepicker {
  position: absolute;
  display: table-cell;
  padding-left: 17%;
}

.truckInput {
  width: 70%;
}

.cmx-input-custom {
  margin-top: 0 !important;
  height: 40px !important;
  padding: 10px !important;
}

.datarow {
  padding: 10px 15px;
}

.contentActionButtons {
  width: 100%;
  height: 64px;
  background-color: white;
  bottom: 24px;
  box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.12);
  text-align: right;
  padding: 16px 9px 0 32px;
  position: fixed;
  bottom: 24px;
  left: 0;
}

.buttonSaveChange {
  height: 32px;
  width: 184.14px;
  border-radius: 2px;
  background-color: #139DF2;
}

.dataspan {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}

.editicon {
  background-image: url('../../images/edit_icon.svg');
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  margin: 23px 6px 23px 0;
  float: right;
}

.deleteicon {
  float: left;
  margin: 21px 20px;
}

.icon-custom {
  width: 14px;
  margin-left: 15px;
}

.content-buttons-chedule {
  text-align: right;
  padding: 10px 0;

  & .button {
    margin: 0 20px;
  }
}

.scroll-body {
  overflow-y: auto;
  max-height: calc(100vh - 348px - 114px);
}
.datarow >.status.validate {
  height: 17px;
  width: 25px;
  border-radius: 2px;
  background-color: $bright-blue;
}
.datarow >.status.pending {
  height: 17px;
  width: 25px;
  border-radius: 2px;
  background-color: $bright-orange;
}
.datarow >.status.seen {
  height: 17px;
  width: 25px;
  border-radius: 2px;
  background-color: $bright-green;
}
.status__desc{
  font-size: 14px;
  padding: 45px;
  color: #262626;
}

html, body {
  height: 100%;
}

:host /deep/ .input-container input {
  &.cmx-input-v2__invalid {
    border-color: red;
  }
}

.editing-buttons {
  cursor: pointer;
}

.data-list-row {
  padding: 0px 15px;
  height: 45px;
}

.list-row.cmx-list-item.shadow-style {
  margin: 0px;
  padding: 8px;
}

.table-schedule {
  margin-bottom: 5px;
}

cmx-table-body{
  min-height: 190px;
}