
@import '../../../submodules/dls/src/scss/mixins/mixins';
@import '../../../submodules/dls/src/scss/variables/variables';
@import '../../../submodules/dls/src/scss/variables/colors';
@import "../../../submodules/dls/src/scss/components/_typography";

.field-data {
    font-family: $font-name;
    font-size: $font-size-12;
    color: #4d4d4d;
}

.breadcrumb-title {
    font-family: $font-name;
    font-size: $font-size-18;
    color: $bright-blue;
}
