<div class="container">
    <cmx-radio-button class="icon-radio-active">
        <span>
            <h3>{{selectedReport?.title}}</h3>
        </span>
        <h6>{{selectedReport?.content}} </h6>
    </cmx-radio-button>

    <div class="main-center">
        <div class="row main">
            <cmx-dropdown placeholder="Select Plants" class="cmx-small" enableSearch="true" *ngIf="selectedReport?.title !== 'Map History'">
                <cmx-dropdown-item>
                    <cmx-checkbox (onChange)="checkAllPlants($event)">
                        All Plants
                    </cmx-checkbox>
                </cmx-dropdown-item>
                <cmx-dropdown-item *ngFor="let plant of plants">
                    <cmx-checkbox [checked]="plant.checked" (onChange)="plant.checked = $event">
                        {{plant.plantDesc}}
                    </cmx-checkbox>
                </cmx-dropdown-item>
            </cmx-dropdown>
            <cmx-datepicker-input (onSelect)="onSelection($event)">Date Range
            </cmx-datepicker-input>

            <div class="criteria" *ngIf="selectedReport?.title === 'Waiting Time' || selectedReport?.title === 'Map History'">Repoer criteria

                <div class="row">
                    <div class="col-sm-4" *ngIf="selectedReport?.title === 'Waiting Time'">
                        <cmx-radio-button class="icon-wrap-container" (change)="onReportChange($event)" [checked]="reportSelected?.value === 'byClient' && selectedReport?.title === reportSelected?.source?.name"
                            [name]="selectedReport?.title" [value]="'byClient'"> By Client
                        </cmx-radio-button>
                    </div>
                    <div class="col-sm-4" *ngIf="selectedReport?.title === 'Map History' || selectedReport?.title === 'Waiting Time'">
                        <cmx-radio-button class="icon-wrap-container" (change)="onReportChange($event)" [checked]="reportSelected?.value === 'byOrder' && selectedReport?.title === reportSelected?.source?.name"
                            [name]="selectedReport?.title" [value]="'byOrder'">By Order
                        </cmx-radio-button>
                    </div>
                    <div class="col-sm-4" *ngIf="selectedReport?.title === 'Map History'">
                        <cmx-radio-button class="icon-wrap-container" (change)="onReportChange($event)" [checked]="reportSelected?.value === 'byDriver' && selectedReport?.title === reportSelected?.source?.name"
                            [name]="selectedReport?.title" [value]="'byDriver'">By Driver
                        </cmx-radio-button>
                    </div>
                    <div class="col-sm-4" *ngIf="selectedReport?.title === 'Map History'">
                        <cmx-radio-button class="icon-wrap-container" (change)="onReportChange($event)" [checked]="reportSelected?.value === 'byTruck' && selectedReport?.title === reportSelected?.source?.name"
                            [name]="selectedReport?.title" [value]="'byTruck'">By Truck
                        </cmx-radio-button>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="selectedReport?.title === 'Waiting Time'">
                <label for="Client Id" class="cols-sm-2 control-label">Client ID</label>
                <!-- <div class="cols-sm-10"> -->
                    <!-- <div class="input-group"> -->
                        <input type="text" class="form-control" name="client" placeholder="Enter Client Id"
                         [(ngModel)]="fineTune.id" />
                    <!-- </div> -->
                <!-- </div> -->
            </div>
            <div class="form-group" *ngIf="selectedReport?.title === 'Per Trip' || selectedReport?.title === 'Map History'">
                <label for="Order Id" class="cols-sm-2 control-label">Order ID</label>
                <!-- <div class="cols-sm-10"> -->
                    <!-- <div class="input-group"> -->
                        <input type="text" class="form-control" name="order" placeholder="Enter Order Id" [(ngModel)]="fineTune.orderId" />
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>