.container {
	height: auto;
	width: 520.98px;
	background-color: #FFFFFF;
	margin-top: 40px;
	padding-bottom: 44px;
}
.form-control {
	height: 40px;
	width: 332px;
	border: 1px solid #ACAEBA;
	border-radius: 3px;
	background-color: #FFFFFF;
}
.main-center{
	margin-left: 45px;
}
.icon-radio-active{
	margin-left: 12px;
}
.criteria{
	margin-top: 12px;
}
.row{
	width: 332px;
}
:host /deep/ cmx-dropdown .cmx-dropdown__placeholder {
    min-width: 300px;
}

:host /deep/ cmx-dropdown .cmx-dropdown__items-positioner {
    width: 300px;
}