<div class="tracking">
    <div class="tabs-tracking">
        <a (click)="goToMap()">
            <span class="breadcrumb-title" [ngClass]="{'tab-label__link' : isActiveTab(_ETrackingTab.TRUCK_DETAIL)}">{{translation.pt('map.tracking.tab-tracking')}}</span>
        </a>
        <div class="tab-detail" [ngClass]="{ 'show-tab': isActiveTab(_ETrackingTab.TRUCK_DETAIL) }">
            <div class="circle"></div>
            <span class="breadcrumb-title">{{translation.pt('map.tracking.tab-truck-detail')}}</span>
        </div>
    </div>
    <div class="tab-content" [ngClass]="{ 'show-tab': isActiveTab(_ETrackingTab.TRACKING_MAP) }">
        <div class="tracking-map__header">
            <h1>{{translation.pt('map.tracking.header-title')}}</h1>
            <div class="header-controls">
                <cmx-dropdown-view>
                    <div dropdown-trigger class="dropdown-placeholder">
                        <p>{{translation.pt('map.tracking.filter.truck-placeholder')}}</p>
                        <svg class="icon-down-single-black">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down-single"></use>
                        </svg>
                    </div>
                    <div dropdown-view>
                        <truck-filter [allTrucks]="_trucks" (onSelectedTrucksEvent)="onSelectedTrucks($event)" (onSelectedTruckItem)="onSelectedTruckItem($event)"></truck-filter>
                    </div>
                </cmx-dropdown-view>
                <div class="plant-filter-container" *ngIf="!_isThirdParty">
                    <cmx-dropdown placeholder="{{translation.pt('map.tracking.filter.plant-placeholder')}}" class="cmx-small map-filters" enableSearch="true">
                        <cmx-dropdown-item [searchValue]="All">
                            <cmx-checkbox [checked]="_checkAllPlant" (change)="checkAllPlants($event)">
                                {{translation.pt('map.filter.all-plants')}}
                            </cmx-checkbox>
                        </cmx-dropdown-item>
                        <cmx-dropdown-item *ngFor="let plant of _checkPlants" [searchValue]="plant.valueData.plantDesc">
                            <cmx-checkbox class="plant-checkbox" [checked]="plant.checked" (change)="checkPlant($event, plant)">
                                {{plant.valueData.plantDesc}}
                            </cmx-checkbox>
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                </div>
                <div class="poi-filter-container" *ngIf="!_isThirdParty">
                    <cmx-dropdown placeholder="{{translation.pt('map.tracking.filter.PoI-placeholder')}}" class="cmx-small map-filters" enableSearch="true">
                        <cmx-dropdown-item *ngFor="let poi of _poiList" [searchValue]="buildSearchValuePoI(poi)" (click)="onPoIClick(poi)">
                            <p class="poi-name">{{poi.pointName}}</p>
                            <p class="poi-desc">{{poi.pointDesc}}</p>
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                </div>
                <div class="search-map-container">
                    <search-map (fetchResult)="onFetchResult($event)"></search-map>
                </div>
            </div>
        </div>
        <div class="map-container">
            <cmx-map (onMapReady)="onMapReady($event)"></cmx-map>
        </div>
    </div>
    <div class="tab-content" [ngClass]="{ 'show-tab': isActiveTab(_ETrackingTab.TRUCK_DETAIL) }">
        <truck-detail [truckDetail]="_truckDetail">
        </truck-detail>
    </div>
</div>