@import '../../../../../submodules/dls/src/scss/variables/colors';

.tracking {
    padding: 20px 20px 0px;
    /* minus height of header, footer*/
    height: calc(100vh - 80px);

    .tabs-tracking {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .tabs-tracking .breadcrumb-title {
        &.tab-label__link {
            cursor: pointer;
        }
    }

    .tabs-tracking .tab-detail {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 0px 3px;
        &.show-tab {
            display: flex;
        }
    }

    .tabs-tracking .circle {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: $bright-blue;
        margin: 0px 4px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-style: none;
        border-width: 1px;
    }

    .tab-content {
        height: calc(100vh - 124px);
        border: none;
        display: none;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
        &.show-tab {
            display: block;
        }
    }

}

.tracking-map__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18%;
}

.map-container {
    width: 100%;
    height: calc(100% - 18% - 10px);
}

cmx-map {
    width: 100%;
    height: 100%;
}

.dropdown-placeholder {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
        margin: 0px 10px;
        font-size: 16px;
        font-weight: 500;
    }

    [class*=icon-] {
        width: 8px;
        height: 8px;
    }
}

.header-controls {
    display: flex;
    align-items: flex-end;
}

::ng-deep {
    .header-controls cmx-dropdown-view {
        margin: 0px 80px 0px 0px;
    }

    .header-controls cmx-dropdown-view .dropdown-view {
        height: 370px;    
    }

    .header-controls cmx-dropdown-view .dropdown-view>div {
        height: 100%;
    }
}

.plant-item {
    width: 350px;
}

.map-filters {
    margin: 0px 40px;

    .poi-name {
        font-size: 12px;
        color: $dark-grey;
        opacity: 0.8;
    }

    .poi-desc {
        font-size: 9px;
        color: $medium-grey;
        opacity: 0.8;
        line-height: 11px;
    }
}

.plant-filter-container {
    width: 180px;
}

.poi-filter-container {
    width: 250px;
}

.plant-checkbox {
    width: 250px;
}

.search-map-container {
    height: 38px;
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}

::ng-deep {
    .gm-style-iw {
        width: 95px;
        height: auto;
        left: 0;
        min-height: 111px;
        overflow: visible;
        visibility: hidden;
    }

    .gm-style-iw>div {
        width: 250px;
    }

    .gm-style-iw>div>div {
        height: 290px;
    }
    /*Hide brother until jquery finishes*/
    .gm-style-iw+img {
        visibility: hidden;
    }

    .content-infobox {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5px;
        left: 15px;
        width: 250px;
        height: fit-content;
        min-height: 246px;
        background-color: $true-white;
        font-family: Roboto;
        font-weight: 500;
        line-height: 11px;
    }

    .content-infobox>.infowindow-body {
        flex: 1;
    }

    .content-infobox>.infowindow-body>.section {
        display: flex;
        flex-direction: row;
        padding-bottom: 7px;
        font-size: 16px;
        margin-bottom: 10px;
        padding: 0px 0px 0px 10px;
        align-items: center;
    }

    .content-infobox>.infowindow-body>.section>.title {
        font-weight: 500;
        margin: 0px 10px 0px 0px;
        line-height: 21px;
    }

    .content-infobox>.infowindow-body>.section>.desc {
        font-weight: normal;
        line-height: 21px;
    }

    .content-infobox>.header {
        padding: 7.5px 16px 7.5px;
        background-color: $bright-blue;
        height: 36px;
        margin-bottom: 15px;
    }

    .content-infobox>.header>.title {
        color: $true-white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
    }

    .content-infobox>.button-container {
        margin: 10px 0px 15px;
        display: flex;
        justify-content: center;
    }

    .close-iw {
        margin: 0;
        height: 9.41px;
        top: 7px;
        right: -5px;
    }

    .content-infobox>.arrow-down {
        position: relative; 
    }

    .content-infobox>.arrow-down::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -20px;
        bottom: -20px;
        top: 0px;
        left: 50%;
        box-sizing: border-box;
        border: 12px solid $true-black;
        border-color: transparent transparent $true-white $true-white;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.15); 
    }

    .content-infobox>.close-popup {
        position: absolute;
        top: 12px;
        right: 5px;
        background-image: url('/vendor/drivers/popup/close-popup.png');
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    .content-infobox>.infowindow-body>.section>.tooltip-custom {
        display: inline-block;
        padding-left: 3px;
    }

    .content-infobox>.infowindow-body>.section>.tooltip-custom .tooltiptext {
        visibility: hidden;
        border: 1px solid $dark-grey;
        border-radius: 3px;
        color: $table-highlight-grey;
        font-size: 0.75rem;
        background: $dark-grey;
        padding: 8px 16px;
        position: absolute;
        top: 18%;
        font-family: 'Roboto-Medium';
    }

    .content-infobox>.infowindow-body>.section>.tooltip-custom .tooltiptext::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -10px;
        bottom: -20px;
        top: 100%;
        left: 50%;
        box-sizing: border-box;
        border: 6px solid $true-black;
        border-color: transparent transparent $dark-grey $dark-grey;
        transform-origin: 0 0;
        transform: rotate(-45deg);
    }

    .content-infobox>.infowindow-body>.section>.tooltip-custom .arrow {
        visibility: hidden;
        position: relative;
        left: 50%;
        top: 100%;
        bottom: -10px;
    }

    .content-infobox>.infowindow-body>.section>.tooltip-custom:hover .tooltiptext {
        visibility: visible;
    }

    .content-infobox>.infowindow-body>.section>.tooltip-custom:hover .arrow {
        visibility: visible;
    }
}