cmx-list {
  margin-bottom: 72px;
}
.list-item.cmx-list-item {
  display: block;
  height: 60px;
}
.heardepadding {
  padding: 20%;
}
.maindiv {
  padding: 23px 34px 0 32px;
}
.cmx-header-field,
.cmx-list-field {
  padding: 0 12px;
}
.editicon {
  background-image: url('../../images/edit_icon.svg');
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  margin: 23px 6px 23px 0;
  float: right;
}
.deleteicon {
  float: left;
  margin: 21px 20px;
}
.datatable {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contentbutton {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 86%;
  flex-direction: row-reverse;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.12);
  margin: 13px 0px 20px 6px;
  text-align: right;
  & .divbutton {
    float: right;
  }
}
.btn-confirm {
  margin: 20px 0 40px;
  float: right;
  width: 100%;
}
h3 {
  color: #3FA9F5;
}
.map-container {
  width: 100%;
  height: 300px;
  background: #3FA9F5;
}