<div class="maindiv">
    <h3>{{t.pt('management.geofence')}}</h3>
    <h1>{{t.pt('management.points.interest')}}</h1>
    <cmx-list>
        <cmx-list-subheader>
            <div fxLayout fxLayoutAlign="start center">
                <div class="cmx-header-field" fxFlex="10" fxLayout fxLayoutAlign="start center">
                    Label
                </div>
                <div class="cmx-header-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    Description
                </div>
                <div class="cmx-header-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    Address
                </div>
                <div class="cmx-header-field" fxFlex="30" fxLayout fxLayoutAlign="start center">

                </div>
            </div>
        </cmx-list-subheader>
        <cmx-list-item *ngFor="let poi of listPoI" class="list-item">
            <div fxLayout fxLayoutAlign="start center">
                <div class="cmx-list-field" fxFlex="10" fxLayout fxLayoutAlign="start center">
                    <span> {{poi.pointName}}</span>
                </div>

                <div class="cmx-list-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    <span class="datatable"> {{poi.pointDesc}}</span>
                </div>

                <div class="cmx-list-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    <span class="datatable"> {{poi.complete}}</span>
                </div>

                <div class="cmx-list-field" fxFlex="30" fxLayout fxLayoutAlign="end center">
                    <div class="deleteicon" (click)="deletedPoI(poi)">
                        <svg class="icon-trash-silver icon-custom">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-trash"></use>
                        </svg>
                    </div>
                    <div class="editicon" title="Edit" (click)="editRow(poi)">

                    </div>
                </div>
            </div>
        </cmx-list-item>


    </cmx-list>
    <bottom-overlay-content>
        <a class="button " href="#" (click)="addPoI()" onclick="return false;">Add Point of Interest</a>
    </bottom-overlay-content>
    

    <cmx-dialog-v3 #removeDialog [enableToClose]="false" [enableFooter]="true" backgroundColor="gray" height="auto" maxHeight="550px"
        minHeight="256px">
        <div cmx-dialog-body>
            <h2 class="title">{{t.pt('management.poi.removing.title')}}</h2>
            <div>
                {{t.pt('management.poi.removing.body')}}
            </div>
        </div>
        <div cmx-dialog-footer style="text-align:right;">
            <a class="button-ghost active" onclick="return false;" href="#" (click)="cancelRemoval()">{{t.pt('management.poi.cancel')}}</a>
            <a class="button active bright-green" onclick="return false;" href="#" (click)="acceptRemoval()"> {{t.pt('management.poi.accept')}}</a>
        </div>
    </cmx-dialog-v3>

</div>