<div class="demo">
    <div class="container">
        <cmx-input-autocomplete placeholder="select an option" [searchService]="_myservice" (onSearchResults)="getSearchResults($event)"
            (onSelectElementEvent)="onSelectElementEvent($event)" [(ngModel)]="_inputValue">
            <cmx-autocomplete-item *ngFor="let item of _resultData" (click)="onClickItem(item)">
                {{item.displayData}}
            </cmx-autocomplete-item>
        </cmx-input-autocomplete>
    </div>
    <div>
        <p>reading ngModel: {{_inputValue}}</p>
    </div>
</div>