@import "~bootstrap/scss/bootstrap-grid.scss";
@import "../../scss/responsive.scss";
$sidebar-width: 160px;
$header-height: 54px;
$dashboard-index: 100;
$footer-height: 24px;

.content {
    padding-left: $sidebar-width;
    padding-top: $header-height;
    padding-bottom: $footer-height;
    transition: all 0.25s ease-in-out;
    &.moved {
        padding-left: 45px;
    }
}
