<svg style="display:none;">
    <defs>
        <symbol id="location-truck-icon" width="16px" height="20px" viewBox="0 0 16 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
            <title>icons/location</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="OTHER-COMPONENTS" transform="translate(-7505.000000, -3213.000000)" fill="none">
                    <rect id="Rectangle-4" x="0" y="0" width="10082" height="7601"></rect>
                </g>
                <g id="icons/location" fill="#139DF2" fill-rule="nonzero">
                    <path d="M8.04498366,0 C4.14339194,-2.3672381e-16 0.980526936,3.13400671 0.980526936,6.99999991 C0.980526936,12.2499999 8.04498366,19.996951 8.04498366,19.996951 C8.04498366,19.996951 15.1094404,12.2499999 15.1094404,6.99999991 C15.1094404,3.13400671 11.9465754,2.3672381e-16 8.04498366,0 L8.04498366,0 Z M8.04498366,9.4969511 C6.65325735,9.4969511 5.52504025,8.37902798 5.52504025,6.99999991 C5.52504025,5.62097185 6.65325735,4.50304873 8.04498366,4.50304873 C9.43670997,4.50304873 10.5649271,5.62097185 10.5649271,6.99999991 C10.5649271,8.37902798 9.43670997,9.4969511 8.04498366,9.4969511 L8.04498366,9.4969511 Z"
                        id="Shape"></path>
                </g>
            </g>
        </symbol>
        <symbol id="driver-profile-icon" width="16px" height="20px" viewBox="0 0 16 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
            <title>icons/user</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="OTHER-COMPONENTS" transform="translate(-7621.000000, -3257.000000)" fill="none">
                    <rect id="Rectangle-4" x="0" y="0" width="10082" height="7601"></rect>
                </g>
                <g id="icons/user" fill="#139DF2" fill-rule="nonzero">
                    <path d="M8,2.31644648 C3.581722,2.31644648 -1.81844832e-12,5.75649056 -1.8189894e-12,10 C-1.81953049e-12,14.2435094 3.581722,17.6835535 8,17.6835535 C12.418278,17.6835535 16,14.2435094 16,10 C16,7.96219491 15.1571453,6.007853 13.6568542,4.5669072 C12.1565632,3.1259614 10.1217319,2.31644648 8,2.31644648 Z M7.93531115,5.79085726 C8.92374885,5.79085726 9.72503592,6.58483332 9.72503592,7.56425242 C9.72503592,8.54367153 8.92374885,9.33764759 7.93531115,9.33764759 C6.94687346,9.33764759 6.14558638,8.54367153 6.14558638,7.56425242 C6.18073947,6.58133987 7.00771042,5.8095553 8,5.83358967 L7.93531115,5.79085726 Z M11.9891456,13.9527483 L3.98929148,13.9527483 L3.98929148,12.7776069 C3.98929148,11.4529021 6.66309716,10.7905497 7.97843705,10.7905497 C9.29377694,10.7905497 11.9675826,11.4529021 11.9675826,12.7776069 L11.9891456,13.9527483 Z" id="Shape"></path>
                </g>
            </g>
        </symbol>

        <symbol id="alert-icon" width="16px" height="20px" viewBox="0 0 16 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
            <title>icons/alert</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="OTHER-COMPONENTS" transform="translate(-7505.000000, -3257.000000)" fill="none">
                    <rect id="Rectangle-4" x="0" y="0" width="10082" height="7601"></rect>
                </g>
                <g id="icons/alert">
                    <path d="M8,2.81644648 C3.85345044,2.81644648 0.5,6.03724847 0.5,10 C0.5,13.9627515 3.85345044,17.1835535 8,17.1835535 C12.1465496,17.1835535 15.5,13.9627515 15.5,10 C15.5,8.0991021 14.7131969,6.27472817 13.310505,4.92752083 C11.9038553,3.57651235 9.99332129,2.81644648 8,2.81644648 Z" id="Shape" stroke="#139DF2" fill-rule="nonzero" transform="translate(8.000000, 10.000000) scale(1, -1) translate(-8.000000, -10.000000) "></path>
                    <g id="Group" transform="translate(7.000000, 5.500000)" fill="#139DF2">
                        <polygon id="Path" points="1.79693487 5.30359411 0.264367816 5.30359411 0.264367816 0.696405888 1.79693487 0.696405888"></polygon>
                        <polygon id="Path" points="1.79693487 8.25484408 0.264367816 8.25484408 0.264367816 6.78289896 1.79693487 6.78289896"></polygon>
                    </g>
                </g>
            </g>
        </symbol>
        <symbol id="clock-delivery-icon" width="16px" height="20px" viewBox="0 0 16 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
            <title>icons/stopwatch</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="OTHER-COMPONENTS" transform="translate(-7738.000000, -3257.000000)" fill="none">
                    <rect id="Rectangle-4" x="0" y="0" width="10082" height="7601"></rect>
                </g>
                <g id="icons/stopwatch">
                    <g id="Group" transform="translate(1.000000, 2.500000)">
                        <g id="clock-icon-" transform="translate(0.000000, 1.000000)" fill="#139DF2">
                            <path d="M1.28098213,6.99661021 C1.27845021,10.1521506 3.83958638,12.7163251 6.99658638,12.719006 C10.1510545,12.7216868 12.7167183,10.1588826 12.7190119,7.00292511 C12.7213055,3.8475634 10.159514,1.28315064 7.00290128,1.28097617 C3.84661617,1.2788017 1.28351404,3.83910383 1.28098213,6.99661021 M6.79150128,5.95744683e-06 L7.20852255,5.95744683e-06 C7.25713532,0.00712510638 7.30556936,0.0184442553 7.35445021,0.0207676596 C8.15402894,0.0588059574 8.9299566,0.21751234 9.66206723,0.539244255 C11.9760587,1.55618043 13.3911609,3.30537617 13.8785098,5.79025702 C13.9449353,6.12884851 13.9607523,6.47735915 14.0000119,6.82128255 L14.0000119,7.17872936 C13.9676928,7.48863574 13.9509226,7.80110383 13.9003736,8.1080017 C13.6596928,9.56873787 13.0263268,10.8365123 11.9869311,11.892023 C10.8834034,13.0126783 9.54959064,13.6905762 7.99040766,13.9147847 C7.72130979,13.9535081 7.44935234,13.9720953 7.17873532,14.000006 L6.82128851,14.000006 C6.77756085,13.9932443 6.73401191,13.9821336 6.69007574,13.9803762 C5.87488851,13.9472826 5.0839183,13.7880698 4.33786723,13.4602315 C2.02396511,12.443474 0.608118298,10.694874 0.120739574,8.2095166 C0.0562502128,7.88060596 0.039092766,7.54243149 1.19148935e-05,7.2085166 L1.19148935e-05,6.79149532 C0.00739914894,6.73808681 0.0185097872,6.68488681 0.021667234,6.63121021 C0.124909787,4.88815064 0.777548085,3.38195915 1.99236085,2.12946553 C3.09550128,0.992129362 4.43953106,0.311014468 6.00952681,0.0841846809 C6.26882468,0.0467123404 6.53077362,0.0275889362 6.79150128,5.95744683e-06" id="Fill-1"></path>
                            <path d="M7.63284766,4.89201404 C7.63284766,5.46255872 7.62960085,6.03316298 7.63683915,6.60358851 C7.63779234,6.67746085 7.67463915,6.7688183 7.72617106,6.82136298 C8.22299234,7.32777574 8.7270817,7.82709915 9.22780511,8.32966936 C9.41981362,8.52236298 9.48549447,8.75118851 9.39258809,9.01075447 C9.30429872,9.25745234 9.12033277,9.39667787 8.86180936,9.42831191 C8.66289021,9.45267787 8.48836681,9.38619277 8.34732426,9.24574596 C7.7461583,8.64711191 7.14636255,8.04710766 6.54793702,7.44579277 C6.42768596,7.32494596 6.36730723,7.1748183 6.36730723,7.00294596 C6.36718809,5.7279034 6.36438809,4.45283106 6.36936255,3.1778183 C6.37076255,2.81432468 6.65126894,2.55198851 7.00865617,2.55484809 C7.35582638,2.5576183 7.62712851,2.82278426 7.63079234,3.18038 C7.63663064,3.75086511 7.63234128,4.32146936 7.63234128,4.89201404 L7.63284766,4.89201404 Z" id="Fill-4"></path>
                        </g>
                        <rect id="Rectangle" stroke="#139DF2" stroke-linecap="round" stroke-linejoin="round" x="6" y="0.134610843" width="2" height="1.73077831"></rect>
                        <circle id="Oval" fill="#139DF2" cx="2.98245368" cy="2.31062341" r="1"></circle>
                        <circle id="Oval-Copy" fill="#139DF2" cx="11" cy="2.31062341" r="1"></circle>
                    </g>
                </g>
            </g>
        </symbol>
        <symbol id="driver-info-icon" width="16px" height="20px" viewBox="0 0 16 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
            <title>icons/info</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="OTHER-COMPONENTS" transform="translate(-7621.000000, -3213.000000)" fill="#F4F6F9">
                    <rect id="Rectangle-4" x="0" y="0" width="10082" height="7601"></rect>
                </g>
                <g id="icons/info" fill="#139DF2" fill-rule="nonzero">
                    <path d="M8,2.31644648 C3.581722,2.31644648 -1.81844832e-12,5.75649056 -1.8189894e-12,10 C-1.81953049e-12,14.2435094 3.581722,17.6835535 8,17.6835535 C12.418278,17.6835535 16,14.2435094 16,10 C16,7.96219491 15.1571453,6.007853 13.6568542,4.5669072 C12.1565632,3.1259614 10.1217319,2.31644648 8,2.31644648 Z M8.79693487,13.8417768 L7.26436782,13.8417768 L7.26436782,9.23458854 L8.79693487,9.23458854 L8.79693487,13.8417768 Z M8.79693487,7.68904616 L7.26436782,7.68904616 L7.26436782,6.21710104 L8.79693487,6.21710104 L8.79693487,7.68904616 Z" id="Shape"></path>
                </g>
            </g>
        </symbol>
    </defs>
</svg>
<cmx-nav-header (clickMenuButton)="clickMenuButton($event)"></cmx-nav-header>
<cmx-sidebar-drivers [customMenuItems]="_menuItems" (collapseEvent)="collapseEvent($event)" (onLegalDocumentClicked)="onLegalDocumentClicked($event)"></cmx-sidebar-drivers>

<div id="layout" class="content" [ngClass]="{'moved' : _isCollapsed }">
    <router-outlet></router-outlet>
</div>

<app-footer (onLegalDocumentClicked)="onLegalDocumentClicked($event)" class="hidden-sm-down"></app-footer>
<app-legal-documents-dialog #legalDocumentGU [options]="options" (onAcceptDialog)="closeLegalDocument($event)"></app-legal-documents-dialog>
