<svg style="display:none;">
    <defs>
        <symbol id="icon-magnifier-glass" viewBox="0 0 25.68 25.68">
            <title>magnifier-glass</title>
            <path class="magnifier-glass" d="M25.49,23.37l-6.2-6.2A10.58,10.58,0,0,0,3.34,3.34,10.58,10.58,0,0,0,17.17,19.29l6.2,6.2a1.5,1.5,0,0,0,2.12-2.12Zm-20-7.18a7.59,7.59,0,1,1,10.73,0A7.6,7.6,0,0,1,5.46,16.19Z"
                transform="translate(-0.24 -0.24)"></path>
        </symbol>
    </defs>
</svg>
<div class="cmx-filtering-box">
    <div class="cmx-filter-search">
        <span>
            <svg class="icon-magnifier-glass">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnifier-glass"></use>
            </svg>
            <!-- end .icon-magnifier-glass -->
        </span>
        <input #searchInput id="searchInput" type="search" [(ngModel)]="searchValue" placeholder="{{_placeholder}}" (keydown)="onKey($event)">
    </div>
    <!-- end .filter-search -->
</div>
<div #itemsPositioner class="cmx-input-autocomplete__items-positioner" [ngClass]="{ show: _showItems }" (click)="checkClose($event)">
    <ng-content select="cmx-autocomplete-item">
    </ng-content>
</div>
<div #optionsBackdrop class="cmx-input-autocomplete__mask" (click)="toggle()" *ngIf="_showItems">
</div>
