@import './../../../../../submodules/dls/src/scss/mixins/_mixins';
@import './../../../../../submodules/dls/src/scss/variables/_variables';
@import './../../../../../submodules/dls/src/scss/variables/_colors';
@import './../../../../../submodules/dls/src/scss/components/_typography';

:host {
    font-family: $font-family;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: $deep-blue;
    cursor: pointer;
    display: block;

    &.selected {
        background-color: #3FA9F5;
        color: #FFF;
    }
}

.autocomplete-item{
    padding: 10px 32px;
}

.autocomplete-item:active{
    color: $deep-blue !important;
}

.autocomplete-item:hover{
    background: $background-grey;
}

:host /deep/ .autocomplete-item .selected {
    color: $deep-blue !important;
}
