@import './../../../../../submodules/dls/src/scss/mixins/_mixins';
@import './../../../../../submodules/dls/src/scss/variables/_variables';
@import './../../../../../submodules/dls/src/scss/variables/_colors';
@import './../../../../../submodules/dls/src/scss/variables/_radius';
@import './../../../../../submodules/dls/src/scss/components/_typography';

svg{
    width: 24px;
    height: 24px;
}

:host {
    display: block;
    position: relative;
    width: 100%;
    -webkit-border-radius: $radius-3;
    border-radius: $radius-3;
    height: 48px;
    border: 1px solid #ADAEBB;
    background: $true-white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:host.cmx-medium {
    margin-top: 0;
    height: 38px;
    & .cmx-filtering-box{
    height: 100%;
    }
    & .cmx-filtering-box .cmx-filter-search input[type='search'] {
        height: 30px;
    }
    & .cmx-filtering-box .cmx-filter-search span svg {
        margin: 0;
        vertical-align: middle;
    }
    /*& .cmx-input-autocomplete__items-positioner{*/
    .cmx-input-autocomplete__items-positioner {
        min-width: 10%;
        width: 310px;
        height: 200px;
        left: 0px;    
    }
}

.cmx-input-autocomplete__placeholder {
    font-weight: $font-medium;
    color: $deep-blue;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
}

.cmx-input-autocomplete__items-positioner {
    z-index: 11;
    display: none;
    position: absolute;
    top: auto;
    left: 0px;
    min-width: 100%;
    width: auto;
    border-top: 3px solid $bright-blue;
    border-radius: $radius-3;
    background: $true-white;
    -webkit-box-shadow: 0 8px 13px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:  0 8px 13px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &.show {
        display: block;
    }
}

.cmx-input-autocomplete__mask {
    z-index: 10;
    opacity: 0;
    background: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    cursor: default;
}

.cmx-filtering-box {
    background: #FFF;
    display: block;
    &.show {
        display: block;
    }
}

.cmx-filtering-box .cmx-filter-search {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cmx-filtering-box .cmx-filter-search span {
    display: inline-block;
    width: 22px;
}

.cmx-filtering-box .cmx-filter-search input[type='search'] {
    border: 0;
    width: calc(100% - 24px);
    display: inline-block;
    height: 44px;
    line-height: 48px;
    font-size: 0.875rem;
    -webkit-appearance: none;
}

.cmx-filtering-box .cmx-filter-search input[type='search']:focus {
    outline: 0 none;
}

.cmx-filtering-box .cmx-filter-search span svg {
    width: 14px;
    margin: 0;
    vertical-align: middle;
}

.cmx-filtering-box .icon-magnifier-glass {
    fill: #3FA9F5;
}

.cmx-filtering-box .cmx-filter-search ::-ms-clear {
    display: none;
}

