.list-item.cmx-list-item {
    display: block;
    height: 60px;
  }
    .heardepadding {
    padding: 20%;
  }
  .maindiv {
    padding: 23px 34px 0 32px;
  }
  .cmx-header-field,
  .cmx-list-field {
    padding: 0 12px;
  }
  .status.pending {
    height: 17px;
    width: 25px;
    border-radius: 2px;
    background-color: #FFAD48;
  }
  .status.confirmed {
    height: 17px;
    width: 25px;
    border-radius: 2px;
    background-color: #7BCC1E;
  }
  .status__desc {
    font-size: 14px;
    padding: 45px;
    color: #262626;
  }
  h3 {
    color: #3FA9F5;
  }
  .editicon {
    background-image: url('../../images/edit_icon.svg');
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    margin: 23px 6px 23px 0;
    float: right;
  }