<div class="maindiv">
    <h3>{{t.pt('management.geofence')}}</h3>
    <h1>{{t.pt('management.plants')}}</h1>
    <cmx-list>
        <cmx-list-subheader>
            <div fxLayout fxLayoutAlign="start center">
                <div class="cmx-header-field" fxFlex="15" fxLayout fxLayoutAlign="start center">
                    {{t.pt('management.status')}}
                </div>
                <div class="cmx-header-field" fxFlex="10" fxLayout fxLayoutAlign="start center">
                    {{t.pt('management.plant')}}
                </div>
                <div class="cmx-header-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    Plant Name
                </div>
                <div class="cmx-header-field" fxFlex="40" fxLayout fxLayoutAlign="start center">
                    {{t.pt('management.location')}}
                </div>
                <div class="cmx-header-field" fxFlex="10" fxLayout fxLayoutAlign="start center">

                </div>
            </div>
        </cmx-list-subheader>
        <cmx-list-item *ngFor="let plant of plants" class="list-item">
            <div fxLayout fxLayoutAlign="start center">
                <div class="cmx-list-field" fxFlex="15" fxLayout fxLayoutAlign="start center">
                    <div *ngIf='!isConfirmedPlant(plant)' class="status pending">
                        <span class="status__desc">{{t.pt('management.unconfirmared')}}</span>
                    </div>
                    <div *ngIf='isConfirmedPlant(plant)' class="status confirmed">
                        <span class="status__desc">{{t.pt('management.confirmation')}}</span>
                    </div>
                </div>
                <div class="cmx-list-field" fxFlex="10" fxLayout fxLayoutAlign="start center">
                    <span class="datatable">{{plant.plantCode}}</span>
                </div>
                <div class="cmx-list-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    <span class="datatable">{{plant.plantDesc}} </span>
                </div>
                <div class="cmx-list-field" fxFlex="40" fxLayout fxLayoutAlign="start center">
                    <span class="datatable">{{plant.complete}}</span>
                </div>
                <div class="cmx-list-field" fxFlex="10" fxLayout fxLayoutAlign="end center">
                    <div class="editicon" href="#" onclick="return false;" title="Edit" (click)="editRow(plant)">
                    </div>
                </div>
            </div>
        </cmx-list-item>
    </cmx-list>
</div>