@import url(https://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,700italic,200,300,400,500,600,700);
$font-stack: Roboto, Helvetica, sans-serif;
body {
    font-family: 'Roboto', sans-serif;
}