$NST: #A5D756;
$STR: #2BB8F9;
$WCL: #EA5090;
$OHD: #FFCE33;
$CNC: #5A5A5A;
$CMP: #9215FF;
$PHD: #EF5757;
$CMX: #2F569B;
$CMX_: #03A9F4;
$BCK: #f5f5f5;
$grey: #2D2D2D;
$NBLUE: #0B162E;
$WHT: #FFFFFF;
$BRD: #E1E1E1;
$NTK: #607d8b;
$PLN: #607d8b;
$FIN: $STR;
$LDG: #FF9800;
$OST: $PHD;
$ORT: $LDG;
$BTG: $STR;
$BLK: #000000; //BLACK
$PRG: rgba(186, 195, 210, 1.0);
$BBB: #39B5E3;
$POU: #7055F9;
$error-color:#C0392B;
$warning-color:#F9A23D;
$accent-color:#7AC943;
