.clickable {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.capitalize-custom {
    text-transform: lowercase;
}

.capitalize-custom:first-letter {
    text-transform: uppercase;
}

.loading-state {
    opacity: 0.6;
    pointer-events: none;
}