@import '../../../../submodules/dls/src/scss/variables/_colors.scss';

$prefix: '--'; //Prefix string for custom CSS properties

//Merges a variable name with $prefix
@function custom-property-name($name) {
    @return $prefix + $name;
}

// Defines a custom property
@mixin define-custom-property($name, $value) {
    #{custom-property-name($name)}: $value;
}

sass-helper {
    // Append SASS variables which are desired to be accesible:
    @include define-custom-property('bright-blue', $bright-blue);
}