@import '../../../../../../submodules/dls/src/scss/variables/_colors.scss';

.header__title {
    color: $bright-blue;
    display: inline-block;
}

.maindiv {
    padding: 23px 34px 0 32px;
    .header__title:nth-child(2){
        color: $deep-blue;
    }
}

.map-container {
    width: 100%;
    height: calc(100vh - 240px);
    transition: all 0.25s ease-in-out;
    box-sizing: border-box;
    padding-top: 16px;
    &.moved {
        padding-left: 0px;
    }
    &__pointer-none {
        pointer-events: none;
    }
    &__pointer-auto {
        pointer-events: auto;
    }
}

cmx-map {
    width: 100%;
    height: 100%;
}

.mainrow{
    padding: 0px;
}

.div-over-map{
    width: inherit;
    padding: inherit;
    position: absolute;
    margin-top: 12px;
    z-index: 2;
}

.div-over-map.text-right{
    margin-left: -16px;
}

.google-search-box{
    z-index: 10;
}

.geofence-reset{
    margin-top: 26px;
}

.icon-repeat-blue{
    margin-bottom: -5px;
}