@import '../../../../../../submodules/dls/src/scss/variables/_radius.scss';
@import '../../../../../../submodules/dls/src/scss/variables/_colors.scss';

$poi-form-title-height: 16px;

.poi-form{
    border: 1px solid $disabled-grey;
    border-radius: $radius-4;
    padding: 12px;
    &__title{
        height: $poi-form-title-height;
    }
    &__label-container{
        height: calc(100% - 16px);
    }
    &__top {
        height: 72px;
    }
    &__bottom {
        height: calc(100% - 96px);
    }
}

:host {
    ::ng-deep cmx-textarea{
        height: 100%;
        ::ng-deep div{
            height: 100%;
        }
        ::ng-deep textarea{
            height: calc(100% - 18px);
            resize: none;
            padding: 16px;
            padding-bottom: 0px;
        }
    }
}

.label__description{
    height: 96px;
}

.map-container{
    padding-top: 0px;
    height: calc(100vh - 256px);
}

.poi-container{
    padding-top: 16px;
}

.empty-map {
    background-color: $background-grey;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    &__message{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}