<div class="maindiv">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <h3 class="header__title">{{t.pt('management.geofence')}}</h3>
                <h3 class="header__title">• {{t.pt('management.points.interest')}}</h3>
                <h2 *ngIf="_headerEditName">{{t.pt(_headerEditName)}}</h2>
                <h2 *ngIf="!_headerEditName">{{ _genericPoint._dd_pointDesc }}</h2>
            </div>
            <div *ngIf="_showMap" class="geofence-reset pull-right">
                <a class="button-link button-link-medium" href="#" onclick="this.blur(); return false;" (click)="resetGeofence()">
                    <span class="btn-icon">
                        <svg class="icon-repeat-blue">
                            <use xlink:href="#icon-repeat"></use>
                        </svg>
                    </span>
                    {{t.pt('management.geofence.reset')}}
                </a>
            </div>
        </div>
    </div>

    <div class="row poi-container">
        <div class="col-sm-4 col-md-4 poi-form">
            <h5 class="poi-form__title">{{t.pt('management.poi.info')}}</h5>
            <div class="row poi-form__label-container">
                <div class="col-md-12 poi-form__top">
                    <cmx-input [title]="t.pt('management.poi.label')">
                        <input [(ngModel)]="_labelName" type="text" placeholder="{{t.pt('management.poi.type.label')}}" (change)="validateData()"
                            (keyup)="validateData()" />
                    </cmx-input>
                </div>
                <div class="col-md-12 poi-form__bottom">
                    <cmx-textarea [title]="t.pt('management.poi.description')">
                        <textarea [(ngModel)]="_labelDescription" placeholder="{{t.pt('management.poi.type.description')}}" (change)="validateData()"
                            (keyup)="validateData()"></textarea>
                    </cmx-textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 map-container">
            <div class="row">
                <div class="col-sm-5 google-search-box">
                    <div class="div-over-map text-left">
                        <cmx-input-autocomplete [numCaracTrigger]="0" [maxLength]="50" [(ngModel)]="_addressToSearch" type="text" class="cmx-medium"
                            placeholder="{{t.pt('management.address.hint')}}" [searchService]="mapService" (onSearchResults)="getSearchResults($event)"
                            (onSelectElementEvent)="onSelectElementEvent($event)">
                            <cmx-autocomplete-item *ngFor="let item of _resultData" (click)="onClickItem(item)">
                                {{item.displayData}}
                            </cmx-autocomplete-item>
                        </cmx-input-autocomplete>
                    </div>
                </div>
                <div class="col-sm-7 map-container__pointer-none" style="pointer-events: none;">
                    <div class="div-over-map text-right">
                        <a class="button solid-blue map-container__pointer-auto" [ngClass]="{'solid-blue' : _selectedType !== _geofenceTypes.RADIAL}"
                            href="#" onclick="this.blur(); return false;" (click)="triggerGeofenceType(_geofenceTypes.RADIAL)">
                            {{t.pt('management.radial')}} </a>
                        <a class="button solid-blue map-container__pointer-auto" [ngClass]="{'solid-blue' : _selectedType !== _geofenceTypes.POLYGON}"
                            href="#" onclick="this.blur(); return false;" (click)="triggerGeofenceType(_geofenceTypes.POLYGON)">
                            {{t.pt('management.polygonal')}} </a>
                    </div>
                </div>
            </div>
            <div *ngIf="!_showMap" class="empty-map">
                <div class="text-center empty-map__message">
                    <img src="/images/map/dPointUnav.png">
                    <br/>
                    <br/>
                    <h4>{{t.pt('management.poi.emptymap')}}</h4>
                </div>
            </div>
            <cmx-map (onMapReady)="onMapReady($event)"></cmx-map>
        </div>
    </div>

    <bottom-overlay-content>
        <button cmx-button color="blue-inverse" (click)="doLeaving()">{{t.pt('management.cancel')}}</button>
        <a class="button active" [ngClass]="{'bright-green': _dataIsValid, 'disabled': !_dataIsValid}" href="#" onclick="return false;"
            (click)="saveGenericPoint()">{{t.pt('management.save')}}</a>
    </bottom-overlay-content>

    <cmx-dialog-v3 #editDialog [enableToClose]="false" [enableFooter]="true" backgroundColor="gray" height="auto" maxHeight="550px"
        minHeight="256px">
        <div cmx-dialog-body>
            <h2 class="title">{{t.pt(_editDialogTitle)}}</h2>
            <div *ngIf="_selectedModalType == _dialogType.LEAVING">
                {{t.pt(_editDialogBody)}}
            </div>
        </div>
        <div cmx-dialog-footer style="text-align:right;">
            <a *ngIf="_selectedModalType == _dialogType.LEAVING" class="button-ghost active" onclick="return false;" href="#" (click)="userLeavingResponse(false)">{{t.pt('management.stay')}}</a>
            <a *ngIf="_selectedModalType == _dialogType.LEAVING" class="button active bright-green" onclick="return false;" href="#"
                (click)="userLeavingResponse(true, _leaveByCancel)"> {{t.pt('management.leave')}}</a>

            <a *ngIf="_selectedModalType == _dialogType.REQUEST_RESPONSE" class="button active bright-green" onclick="return false;"
                href="#" (click)="userLeavingResponse(true, true)"> {{t.pt('management.ok')}}</a>
        </div>
    </cmx-dialog-v3>
</div>