<footer data-tid="cmx-footer" [class.sidebar]="sidebar">
    <ul class="primary-links">
        <li>
            <a *ngIf="clickableCopyright" (click)="documentClicked('copyright')" href="#" onclick="return false"> {{t.pt('label.legal.copyright')}} {{t.pt('label.legal.rights_reserved')}} </a>
            <a *ngIf="!clickableCopyright" onclick="return false"> {{t.pt('label.legal.copyright')}} {{t.pt('label.legal.rights_reserved')}} </a>
        </li>
    </ul>
    <ul class="secondary-links">
        <li>
            <a data-tid="cmx-footer-terms-and-conditions" (click)= "documentClicked('legal')" href="#" onclick="return false"> {{t.pt('label.legal.legal')}} </a>
        </li>
        <li>
            <a data-tid="cmx-footer-privacy-policy" (click)="documentClicked('privacy')" href="#" onclick="return false"> {{t.pt('label.legal.privacy_policy')}} </a>
        </li>
        <li>
            <a class="cemex-web-page" href="http://www.cemex.com" target="_blank"> cemex.com </a>
        </li>
    </ul>
</footer>