footer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 24px;
    background: #002a59;
    color: #fff;
    top: calc(100% - 24px);
    overflow: hidden;
    padding: 0 5px;
    bottom: 0;
    &.sidebar {
        padding: 0 16px 0 0;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            a {
                display: block;
                color: #FEFEFE;
                font-size: 0.75rem;
                line-height: 1.5rem;
                margin: 0 17px;
            }
        }
        &.primary-links {
            float: left;
        }
        &.secondary-links {
            float: right;
        }
    }
    @media (max-width: 958px) {
        display: none;
    }
    .cemex-web-page{
        font-style: normal;
    }
}
