<!-- this component must be inside a div with dropdown bootstrao class 
    this component must be after a button to fire bootstrap dropdown
    this component must have dropdown-menu bootstrap class
-->

<div class="dropdown-menu-container" aria-labelledby="" (click)="clickInside($event)" id="filtro">
    <div class="search-input">
        <div class="icon">
            <svg class="icon-magnifier-glass" width="50" height="50">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnifier-glass"></use>
            </svg>
        </div>
        <input (keyup)="onSearch($event)" [(ngModel)]="_searchValue" type="text" placeholder="{{ placeholder }}">
        <div class="icon-clear">
            <svg class="icon-close-black"  (click)="reset()">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
            </svg>
        </div>
    </div>

    <div class="">
        <cmx-checkbox class="sorted" [checked]="_isAscending" (change)="ascendingItem($event)">{{translationService.pt('views.filter.orderasc')}}</cmx-checkbox>
        <br/>
        <cmx-checkbox class="sorted" [checked]="_isDescending" (change)="descendingItem($event)">{{translationService.pt('views.filter.orderdesc')}}</cmx-checkbox>
    </div>
</div>