// :host{
//     border-top: 3px solid #3FA9F5;
//     width: 325px;
//     
.dropdown-menu-container {
    width: 325px;
    max-height: 204px;
    .search-input {
        padding: 0 10px;
        padding-bottom: 10px;
        .icon {
            margin-top: 5px;
            position: absolute;
        }
        .icon-magnifier-glass {
            width: 15px;
            height: 15px;
            position: absolute;
        }
        input {
            width: 100%;
            border: 0;
            border-bottom: 1px solid #D6D6D6;
            background-color: transparent;
            padding-left: 25px;
            padding-bottom: 5px;
            &:focus {
                outline: none;
            }
        }
    }
}

.sorted {
    font-size: 14px;
    padding: 10px 2.5rem;
    padding-left: 9px;
}

.icon-clear {
    position: absolute;
    top: 8%;
    right: 3%;
    & .icon-close-black {
        width: 12px;
    }
}

.content-buttons-action {
    flex-direction: row-reverse;
    display: flex;
    a {
        padding: 5px;
    }
}

// }
// .button.active.solid-blue{
//     border-color: #ffffff;
//     color: #2684c7;
//     background: #fff;
//     font-size: 12px;
// }