@{
    ViewData["Title"] = "Drivers Console";
    ViewData["API_HOST"] = Environment.GetEnvironmentVariable("API_HOST");
    ViewData["API_HOST_FULL"] = Environment.GetEnvironmentVariable("API_HOST_FULL");
    ViewData["API_ORG"] = Environment.GetEnvironmentVariable("API_ORG");
    ViewData["API_ENV"] = Environment.GetEnvironmentVariable("API_ENV");
    ViewData["APP_CODE"] = Environment.GetEnvironmentVariable("APP_CODE");
    ViewData["CLIENT_ID"] = Environment.GetEnvironmentVariable("CLIENT_ID");
    ViewData["TRUCK_LOC_HOST"] = Environment.GetEnvironmentVariable("TRUCK_LOC_HOST");
    ViewData["TRUCK_LOC_ENV"] = Environment.GetEnvironmentVariable("TRUCK_LOC_ENV");
    <!-- ViewData["PAYMENT_URL_QA"] =    ;
    ViewData["PAYMENT_URL_DEV"] = Environment.GetEnvironmentVariable("CLIENT_ID"); -->
}

<!-- <app asp-prerender-module="ClientApp/dist/main-server">Loading...</app> -->
<app></app>

<!-- <script src="~/drivers/pace.min.js"></script> -->
<script src="~/drivers/dist/vendor.js" asp-append-version="true"></script>
<!--script src="~/drivers/dist/bootstrap.bundle.js" asp-append-version="true"></script-->
@section scripts {
    <script>
        window.API_HOST = '@ViewData["API_HOST"]';
        window.API_HOST_FULL = '@ViewData["API_HOST_FULL"]';
        window.API_ORG = '@ViewData["API_ORG"]';
        window.API_ENV = '@ViewData["API_ENV"]';
        window.APP_CODE = '@ViewData["APP_CODE"]';
        window.CLIENT_ID = '@ViewData["CLIENT_ID"]';
        window.TRUCK_LOC_HOST = '@ViewData["TRUCK_LOC_HOST"]';
        window.TRUCK_LOC_ENV = '@ViewData["TRUCK_LOC_ENV"]';
    </script>
    <script src="~/drivers/dist/main-client.js" asp-append-version="true"></script>
    
}
