@import '../../../../../submodules/dls/src/scss/variables/_colors.scss';
@import '../../../../../submodules/dls/src/scss/variables/_variables.scss';

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18%;
}

.header .label-header {
    font-size: 18px;
    color: $bright-blue;
    line-height: 26px;
    margin-top: 20px;
}

.header .title-monitoring {
    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
    color: $deep-blue;
}

.footer-style {
    .prev-btn {
        background: $true-white;
        color: $bright-blue;      
    }
    .button {
        text-transform: none;
    }
}

.history-container {
    margin-top: 30px;
}

.filtering-container-padding, .history-container {
    min-height: 300px;
}

.filtering-container-padding {
    padding: 20px;
    margin-top: 10px;
}
.filtering-container { 
    border: 1px solid $disabled-grey;
    padding: 15px;
}
.radio-label { 
    font-size: 15px;
}

.search-button { 
    width: 100%;
    margin-top: 30px;
}

.section-title { 
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    &:first-child { 
        margin-top: 0;
        margin-bottom: 0;
    }
}

input[type=time] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: $font-family-base;
    line-height: 1rem;
    border-radius: 3px;
    height: 48px;
    padding: 16px;
    border: 1px solid #ADAEBB;
    background: $true-white;
}

review-report-template { 
    .container { 
        margin-top: 0;
    }
}

.ticket-section {
    font-size: .78rem;
    font-weight: 500;
    color: $medium-grey;
}

.ticket-section-title {
    font-size: 1.35rem;
    font-weight: 500;
    color: $true-black;
    margin-bottom: 8px;
}

.ticket-detail-container {
    margin-bottom: 40px;

    p {
        font-size: .75rem;
        font-weight: 500;
        margin: 12px 0;
    }

    &.marker {
        margin-bottom: 10px;

        svg {
            vertical-align: middle;
        }
    }
}

.map-history-details {
    max-height: 270px;
    margin-top: 20px;
    overflow: auto;
}

.map-history-details::-webkit-scrollbar {
    width: .30em;
}

.map-history-details::-webkit-scrollbar-thumb {
  background-color: $table-highlight-grey;
  border-radius: 15px;
}

.table-map {
    width: 100%;
    
    tbody tr td {
        min-width: unset;
        font-size: .75rem;
        font-weight: 500;
        height: 32px;
    }
}

.table-map-history {
    width: 100%;

    thead tr th {
        font-size: .70rem;
        min-width: unset;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    tbody tr td {
        background-color: $table-highlight-grey;
        min-width: unset;
        font-size: .75rem;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    thead tr th, 
    tbody tr td {
        &:nth-child(1) {
            text-align: right;
        }
        &:nth-child(2) {
            text-align: right;
        }
        &:nth-child(3) {
            text-align: left;
            padding-left: 40px;
        }
        &:nth-child(4) {
            text-align: left;
        }
        &:nth-child(5) {
            text-align: right;
            padding-right: 20px;
        }
        &:nth-child(6) {
            text-align: left;
        }
    }
}

.route-section-title, .log-section-title {
    font-size: .90rem;
    font-weight: 500;
}

[class*=icon-map] {
    width: 12px;
    height: 12px;
}

.input-not-label {
    margin-top: 25px;
}

cmx-map {
    width: auto;
    height: 270px;
}

.div-map-history {
    margin: 20px 0;
}

.icon-wrap-container {
    display: inline-flex;
}

%status-icon {
    width: 24px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
}

.status-done {
    @extend %status-icon;
    background-color: $bright-green;
}

.status-progress {
    @extend %status-icon;
    background-color: $bright-orange;
}

.status-pending {
    @extend %status-icon;
    background-color: $disabled-grey;
}

%alert-icon {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
$alert-icons: '/vendor/drivers/icon_map/history_Alerts/';

.status-alert-1 {
    @extend %status-icon;
    @extend %alert-icon;
    background-image: url($alert-icons + 'speeding.svg');
}
.status-alert-2 {
    @extend %status-icon;
    @extend %alert-icon;
    background-image: url($alert-icons + 'hours_of_service.svg');
}
.status-alert-3 {
    @extend %status-icon;
    @extend %alert-icon;
    background-image: url($alert-icons + 'waiting_time.svg');
}