<div class="mainDiv" style="background-color: #F4F6F9;">
    <div class="container-fluid">
        <div class="header">
            <span class="label-header">{{t.pt('report.selection')}}</span>
            <span class="title-monitoring">{{t.pt('reports.map.history')}}</span>
        </div>

        <div class="row reports-dashboard">
            <div class="col col-4 filtering-container-padding">
                <div class="filtering-container">
                    <h5 class="section-title">{{t.pt('map-history.panel.parameter')}}</h5>
                    <div class="row">
                        <div class="col-4">
                            <cmx-radio-button class="icon-wrap-container" 
                                [name]="criteria" [checked]="criteria === 'order'" 
                                [id]="'order'" [value]="'order'"
                                (click)="criteria = 'order'">
                                <h4 class="radio-label">{{ t.pt('map-history.criteria-filter-order') }}</h4>
                            </cmx-radio-button>
                        </div>
                        <div class="col-4">
                            <cmx-radio-button class="icon-wrap-container" 
                                [name]="criteria" [checked]="criteria === 'driver'" 
                                [id]="'driver'" [value]="'driver'"
                                (click)="criteria = 'driver'">
                                <h4 class="radio-label">{{ t.pt('map-history.criteria-filter-driver') }}</h4>
                            </cmx-radio-button>
                        </div>
                        <div class="col-4">
                            <cmx-radio-button class="icon-wrap-container" 
                                [name]="criteria" [checked]="criteria === 'truck'" 
                                [id]="truck" [value]="truck"
                                (click)="criteria = 'truck'">
                                <h4 class="radio-label">{{ t.pt('map-history.criteria-filter-truck') }}</h4>
                            </cmx-radio-button>
                        </div>

                        <div class="col-12">
                            <cmx-form-field title="{{ t.pt(titles[criteria]) }}">
                                <input [(ngModel)]="criteriaData" type="text" id="cmxInputTypeTextError">
                                <span class="error-message"></span>
                            </cmx-form-field>
                        </div>
                    </div>

                    <h5 class="section-title">{{t.pt('map-history.panel.date-time')}}</h5>

                    <div class="row">
                        <div class="col col-12">
                            <cmx-form-field title="{{ t.pt('panel.date.range') }}">
                                    <datepicker-input placeholder="{{t.pt('map-history.panel.select-date')}}" (select)="onSelection($event)"></datepicker-input>
                            </cmx-form-field>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <cmx-form-field title="{{t.pt('map-history.panel.time-range')}}">
                                        <input type="time" id="cmxInputTypeTextError" [(ngModel)]="timeFrom">
                                        <span class="error-message"></span>
                                    </cmx-form-field>
                                </div>
                                <div class="col-6">
                                    <cmx-form-field title="">
                                        <input type="time" id="cmxInputTypeTextError" [(ngModel)]="timeTo" class="input-not-label">
                                        <span class="error-message"></span>
                                    </cmx-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <button [class.disabled]="!date || !timeTo || !timeFrom || !criteriaData" [disabled]="!date || !timeTo || !timeFrom || !criteriaData"
                                (click)="getMapHistory()" class="search-button button active bright-blue">{{t.pt('map-history.search-button')}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-8 history-container">
                <div class="history-empty">
                    <div class="row">
                        <div class="col-12">
                            <cmx-dialog-v3 #mapHistoryDialog
                            (onClose)="clearMap()"
                            [enableToClose]="true" 
                            [enableFooter]="false" 
                            backgroundColor="gray" 
                            height="auto" maxHeight="650px" minHeight="50px">
                                <div cmx-dialog-body class="ticket-detail-container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="ticket-section">{{ t.pt('reports.map.history') }}</div>
                                            <div class="ticket-section-title">{{ t.pt('map-history.panel.delivery') }}</div>
                                            <table class="table-map-history">
                                                <thead>
                                                    <tr>
                                                        <th>{{ t.pt('map-history.panel.deliveryId') }} </th>
                                                        <th>{{ t.pt('map-history.panel.order') }} </th>
                                                        <th>{{ t.pt('map-history.panel.date') }} </th>
                                                        <th>{{ t.pt('map-history.panel.truck') }} </th>
                                                        <th>{{ t.pt('map-history.panel.driver') }} </th>
                                                        <th>{{ t.pt('map-history.panel.drivername') }} </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ ticket.ticketCode }}</td>
                                                        <td>{{ ticket.orderCode }}</td>
                                                        <td>{{ ticket.date }}</td>
                                                        <td>{{ ticket.truckId }}</td>
                                                        <td>{{ ticket.driverCode }}</td>
                                                        <td>{{ ticket.driverName }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-4 map-history-details">
                                            <div class="route-section-title">{{ t.pt('map-history.panel.route') }}</div>
                                            <p class="marker">
                                                <svg class="icon-map-location">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map-pin"></use>
                                                </svg> &nbsp;&nbsp;{{ ticket?.plant }}
                                            </p>

                                            <p class="marker">
                                                <svg class="icon-map-delivery-point">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map-pin"></use>
                                                </svg> &nbsp;&nbsp;{{ ticket?.jobsite }}
                                            </p>

                                            <div class="log-section-title">{{ t.pt('map-history.panel.log') }}</div>
                                            <table class="table-map">
                                                <tbody>
                                                    <tr *ngFor="let event of ticket?.truckEvents">
                                                        <td><div class="{{ event.eventIcon }}"></div> </td>
                                                        <td>{{ event.truckEventDesc }} </td>
                                                        <td class="text-right">{{ event.eventTime }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-8 div-map-history">
                                            <cmx-map
                                                (onMapReady)="onMapReady($event)" 
                                                [mapOptions]="_mapOptions">
                                            </cmx-map>
                                        </div>
                                        <!--div class="col-12 text-right">
                                            <button cmx-button color="blue">OK</button>
                                        </div-->
                                    </div>
                                </div>
                            </cmx-dialog-v3>
                            <review-report-template #review 
                            (onSelectTableItem)="setMapHistory($event)"
                            [selectedReportHeaderData]="tableReportHeader.mapHistory">
                            </review-report-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<sass-helper #SassHelper></sass-helper>