<cmx-dialog-v3 #simpleModalDialog [enableToClose]="true" [enableFooter]="true" backgroundColor="gray" [height]="'70px'" (onClose)="onCancel()">
    <div cmx-dialog-body>
        <h2 class="title">{{_title}}</h2>
        <div class="body-message">
            <span>{{_bodyMessage}}</span>
        </div>
    </div>
    <div cmx-dialog-footer style="text-align:right;">
        <button cmx-button type="button" *ngFor="let keyOption of getKeys()" class="button-option" (click)="closeResult(keyOption)"
        [color]="buttonOptions[keyOption].color ? buttonOptions[keyOption].color : 'blue-inverse'">
    {{keyOption}}
    </button>
    </div>
</cmx-dialog-v3>
