.title {
    margin: 10px 0px;
}

.body-message {
    margin: 10% 0px;
}

.button-option {
    margin: 0px 5px;
}

:host /deep/ .modal-container {
    height: 350px!important;
    min-height: 300px!important;
}

