.legal-component {
    h1 {
        margin-top: 30px;
        @media (max-width: 576px) {
            h1 {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
    header {
        @media (max-width: 768px) {
            .main-nav-bar {
                text-align: center;
                .main-nav-items {
                    display: none;
                }
                .header__cmx-logo {
                    display: inline-block;
                }
            }
        }
    }
    .select-dropdown {
        position: absolute;
        min-height: 0;
        overflow: hidden;
        margin-top: 8px;
        &.menu {
            width: 124px;
            z-index: 1;
        }
    }
    .select-dropdown .select-dropdown-item {
        padding-left: 0px;
    }
    .select-dropdown .select-dropdown-item {
        padding: 6px;
    }
    .dropdown {
        background-color: transparent;
        &:active,
        &:focus,
        &.open {
            background-color: transparent;
        }
    }
    .dropdown-menu>li>a:hover,
    a:active,
    li {
        background-color: transparent;
    }
    .dropdown-menu-flag {
        background-color: #Ebeef2;
        padding-bottom: 0;
        width: 180px;
    }
    .dropdown-menu>li {
        border-bottom: 0.5px dotted #d6d6d6;
    }

    .dropdown-menu>li:last-child {
        border-bottom: none;
    }
    .md-check {
        cursor: pointer;
        display: inline-block;
        position: relative;
        color: #001c3b;
        font-size: 14px;
        line-height: 19px;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px;
        font-weight: 400;
    }
    .md-check input {
        position: absolute;
        width: 0;
        height: 48px;
        margin-top: -13px;
        cursor: pointer;
        z-index: 1;
        opacity: 0;
        margin-left: -3.65rem;
    }
    .md-check input:checked+i:before {
        border-width: 0;
        background-color: inherit;
        border: none;
    }
    .md-check input:checked+span .active {
        display: inherit;
    }
    .md-check input[type='checkbox']:checked+i:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: 5px;
        top: 1px;
        display: table;
        width: 7px;
        height: 13px;
        border: 2px solid #06abf5;
        border-top: 0;
        border-left: 0;
        content: ' ';
    }
    .md-check input[type='radio']:checked+i:after {
        position: absolute;
        left: 6px;
        top: 6px;
        display: table;
        width: 6px;
        height: 6px;
        background: #fff; // border-radius: 50%;
        content: ' ';
    }
    .md-check input[disabled]+i:before,
    fieldset[disabled] .md-check input+i:before {
        opacity: 0.5;
    }
    .md-check input[disabled]:checked+i:before {
        opacity: 0.5;
    }
    .md-check>i {
        width: 0;
        height: 16px;
        line-height: 1;
        margin-left: 10px;
        margin-top: 1px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 28px;
        position: relative;
    }
    .md-check>i:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border: none;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    @media (max-width: 576px) {
        .cmx-icon-up-single {
            right: 23px;
        }
        .cmx-icon-down-single {
            right: 23px;
        }
        .nav-menu{
            width: 148px;
        }
    }
    .cmx-icon-down-single {
        position: relative;
        top: 35px;
        right: 50px;
        float: right;
        color: #06abf5;
        &.menu-icon-down {
            color: white;
            float: right;
            right: 44%;
        }
        @media(max-width: 576px){
            .cmx-icon-down-single {
                right: 23px;
            }
        }
    }
    .cmx-icon-up-single {
        position: relative;
        top: 35px;
        right: 50px;
        float: right;
        color: #06abf5;
        &.menu-icon-up {
            color: white;
            float: right;
            right: 44%;
        }
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .inputread-only {
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: none;
        border-radius: 0;
        font-weight: bold;
        margin-top: 6px;
        &.menu {
            color: white;
        }
    }
    ul>li{
        color: #666666;
    }
    .row {
        padding-bottom: 15px;
    }
    .nav-menu {
        float: right;
        margin-top: -10px;
    }
    .content-country {
        width: 250px;
        margin-top: 25px;
    }
    select.lang-menu-select {
        height: calc(2.25rem + 2px);
    }
    .main-container__country-field {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .form-control {
        line-height: 1.5;
    }
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }
    .data-container{
        margin-bottom: 40px;
    }
    .row.data-container{
        & p:first-child {
            display: block;
            width: 100%;
        }
        & p{
            margin-bottom: 16px;
            color: #666666;
        }
    }
}