<div class="legal-component">
    <header>
        <nav class="main-nav-bar fixed">
            <div class="nav-menu">
                <span *ngIf="menuSelectedLang" (click)="openMenuLang()" class="cmx-icon-down-single menu-icon-down"></span>
                <span *ngIf="!menuSelectedLang" (click)="openMenuLang ()" class="cmx-icon-up-single menu-icon-up"></span>
                <div>
                    <input type="text" id="leng" value="{{ t.pt(text_lang) }}" readonly class="inputread-only form-control menu lang-menu-select" (click)="openMenuLang()">
                    <div class="select-dropdown menu" *ngIf="!menuSelectedLang">
                        <div *ngFor="let language of languages" class="select-dropdown-item" (click)="changeLanguage(language.id)">
                            <a class="md-check" (click)="changeLanguage(language.id)">
                                <input name="{{language.id}}" type="checkbox" [checked]="langSelected == language.id">
                                <i></i>
                                <span (click)="changeLanguage(language.id)"> {{ t.pt(language.text) }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cmx-logo" class="header__cmx-logo">
                <a href="#">
                    <svg class="cmx-logo">
                        <use xlink:href="#cmx-logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </a>
            </div>
        </nav>
        <div class="sub-nav-loader"></div>
    </header>

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div>
                    <h1>{{t.pt(legalDocumentLabel)}}</h1>
                    <div class="content-country">
                        <select [(ngModel)]="countrySelected" id="country-field" (change)="changeCountry($event.target.value)" class="form-control main-container__country-field">
                            <option value="-1">{{t.pt(text_country)}}</option>
                            <option *ngFor="let country of countries" [value]="country.isoCode">{{country.name}}</option>
                        </select>
                    </div>

                </div>
                <br />
            </div>
            <hr>

            <div *ngIf="dataContainer !== null" class="row data-container" [innerHtml]="dataContainer">
            </div>

        </div>
    </div>

    <app-footer class="hidden-sm-down" [clickableCopyright]="false" (onLegalDocumentClicked)="onLegalDocumentClicked($event)"></app-footer>
</div>