.card-text {
	height: 48px;
	width: 189.9px;
	color: #001C3B;
	font-family: Roboto;
	font-size: 14px;
    line-height: 16px;
    margin-left: 45px;
}
.card-block {
	height: 148.91px;
	width: 252.51px;
	background-color: #FFFFFF;
}
.hcard-title {
	height: 32px;
	width: 189.9px;
	color: #001C3B;
	font-family: Roboto;
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
}
.card {
	margin-top: 38px;
	border: none;
    box-shadow: none;
}