<div class="row">
    <div class="col-sm-3"  *ngFor="let report of chooseReportList">
        <div class="card">
            <div class="card-block">
                <cmx-radio-button class="icon-wrap-container" 
                [name]="report.title" [checked]="report.title === reportSelected" [value]="report.title"
                (change)="onReportChange($event)">
                    <h3 class="card-title">{{report.title}}</h3>
                     <!-- </div> -->
             </cmx-radio-button>
                <p class="card-text">{{report.content}}</p>
            </div>
        </div>
    </div>
    </div>