<div class="truck-detail">
    <div class="detail-header">
        <p class="detail-header__label">{{_truckDetail?.truckPlate}}</p>
    </div>
    <div class="detail-body">
        <cmx-tabs class="tabs-detail">
            <cmx-tab [title]="_translation.pt('map.tracking.ticket-detail.tab-location-driver')" (activation)="tabLocationActive($event)">
                <div class="map-container">
                    <div class="map-container__header">
                        <svg class="icon-details">
                            <use xlink:href="#location-truck-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                        <h5>{{_translation.pt('map.tracking.ticket-detail.location')}}</h5>
                    </div>
                    <div class="truck-detail__separator">
                    </div>
                    <cmx-map class="truck-detail__map" (onMapReady)="onMapReady($event)">
                    </cmx-map>
                </div>
                <div class="side-1__section">
                    <div class="side-1__section__header">
                        <svg class="icon-details">
                            <use xlink:href="#driver-profile-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                        <h5>{{_translation.pt('map.tracking.ticket-detail.driver')}}</h5>
                    </div>
                    <div class="truck-detail__separator"></div>
                    <div class="detail-body__row">

                        <div class="detail-body__cell">
                            <p class="table-entry-strong">{{_translation.pt('map.tracking.ticket-detail.employee-number')}}</p>
                            <p class="field-data">{{_truckDetail?.event?.driver?.driverCode}}</p>

                        </div>
                        <div class="detail-body__cell">
                            <p class="table-entry-strong">{{_translation.pt('map.tracking.ticket-detail.employee-name')}}</p>
                            <p class="field-data">{{_truckDetail?.event?.driver?.driverDesc}}</p>
                        </div>
                        <div class="detail-body__cell">
                            <p class="table-entry-strong">{{_translation.pt('map.tracking.ticket-detail.truckid')}}</p>
                            <p class="field-data">{{_truckDetail?.truckPlate}}</p>
                        </div>
                        <div class="detail-body__cell">
                            <p class="table-entry-strong">{{_translation.pt('map.tracking.ticket-detail.plant')}}</p>
                            <p class="field-data">{{plantName}}</p>
                        </div>
                    </div>
                </div>
            </cmx-tab>
            <cmx-tab [title]="_translation.pt('map.tracking.ticket-detail.tab-ticket-details')">
                <div class="side-1__section">
                    <div class="dropdown-container">
                        <cmx-dropdown class="cmx-ticket" placeholder="{{_ticket?.ticketCode}}" [closeOnClick]="true" [ngClass]="{ 'cmx-ticket__hide' : isEmptyTicket()}">
                            <cmx-dropdown-item *ngFor="let aTicketCode of _ticketList" (click)="onClickTicket(aTicketCode)">
                                {{aTicketCode}}
                            </cmx-dropdown-item>
                        </cmx-dropdown>
                    </div>
                </div>
                <div class="side-1__section">
                    <div class="detail-body__row">
                        <div class="detail-body__cell detail-ticket-fields">
                            <div class="side-1__section__header">
                                <svg class="icon-details">
                                    <use xlink:href="#driver-info-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                                <h5>{{_translation.pt('map.tracking.ticket-detail.ticket-details')}}</h5>
                            </div>
                            <div class="truck-detail__separator"></div>
                            <div class="detail-body__row">
                                <div class="detail-body__cell">
                                    <p class="header-label">{{_translation.pt('map.tracking.ticket-detail.delivery-number')}}</p>
                                    <p class="field-data">{{_ticket?.loadNumber}}</p>
                                </div>
                                <div class="detail-body__cell">
                                    <p class="header-label">{{_translation.pt('map.tracking.ticket-detail.sales-order')}}</p>
                                    <p class="field-data">{{_ticket?.order?.orderCode}}</p>
                                </div>
                                <div class="detail-body__cell detail-body__cell_2">
                                    <p class="header-label">{{_translation.pt('map.tracking.ticket-detail.customer')}}</p>
                                    <p class="field-data">{{_ticket?.order?.customer?.customerDesc}}</p>
                                </div>
                            </div>
                            <div class="detail-body__row">
                                <div class="detail-body__cell detail-body__cell_2">
                                    <p class="header-label">{{_translation.pt('map.tracking.ticket-detail.jobsite')}}</p>
                                    <p class="field-data">{{_ticket?.order?.jobsite?.jobsiteDesc}}</p>
                                </div>
                                <div class="detail-body__cell detail-body__cell_2">
                                    <p class="header-label">{{_translation.pt('map.tracking.ticket-detail.delivery-point')}}</p>
                                    <p class="field-data">{{deliveryPointAddress}}</p>
                                </div>
                            </div>
                            <cmx-list class="ticket-products">
                                <cmx-list-subheader>
                                    <div fxLayout fxLayoutAlign="start center">
                                        <div class="cmx-header-field" fxFlex="2 2 calc(10em + 10px)" fxLayout fxLayoutAlign="start center">
                                            {{_translation.pt('map.tracking.ticket-detail.product')}}
                                        </div>
                                        <div class="cmx-header-field" fxFlex fxLayout fxLayoutAlign="start center">
                                            {{_translation.pt('map.tracking.ticket-detail.num-product')}}
                                        </div>
                                        <div class="cmx-header-field" fxFlex fxLayout fxLayoutAlign="start center">
                                            {{_translation.pt('map.tracking.ticket-detail.qty-product')}}
                                        </div>
                                    </div>
                                </cmx-list-subheader>
                                <cmx-list-item shadow *ngFor="let product of _ticketProducts">
                                    <div fxLayout fxLayoutAlign="start center">
                                        <div class="cmx-list-field" fxFlex="2 2 calc(10em + 10px)" fxLayout fxLayoutAlign="start center">
                                            {{product.productTypeDesc}}
                                        </div>
                                        <div class="cmx-list-field" fxFlex fxLayout fxLayoutAlign="start center">
                                            {{product.productCode}}
                                        </div>
                                        <div class="cmx-list-field" fxFlex fxLayout fxLayoutAlign="start center">
                                            {{product.deliveryQuantity}} {{product.unit.unitCode}}
                                        </div>
                                    </div>
                                </cmx-list-item>
                            </cmx-list>
                        </div>
                        <div class="detail-body__cell">
                            <cmx-list class="status-list">
                                <cmx-list-subheader>
                                    <div fxLayout fxLayoutAlign="start center">
                                        <div class="header-status" fxFlex fxLayout fxLayoutAlign="start center">
                                            {{_translation.pt('map.tracking.ticket-detail.delivery-status')}}
                                        </div>
                                    </div>
                                </cmx-list-subheader>
                                <div class="container-items">
                                    <cmx-list-item zebra *ngFor="let statusDelivery of statusLogList">
                                        <div class="cmx-list-field" fxFlex fxLayout fxLayoutAlign="start center">
                                            <div class="status-list__square-status" [ngClass]="getClassStatusLog(statusDelivery)">
                                            </div>
                                            <p class="status-list__status-text">
                                                {{getStatusTranslation(statusDelivery)}}
                                            </p>
                                            <div>
                                                {{getStatusTime(statusDelivery)}}
                                            </div>
                                        </div>
                                    </cmx-list-item>
                                </div>
                            </cmx-list>
                        </div>
                    </div>
                </div>
                <div class="tool-button-bar">
                    <button cmx-button color="blue" class="tool-button__hide" (click)="unlikDriver()">{{_translation.pt('map.tracking.ticket-detail.button.unlink')}}</button>
                    <button cmx-button color="blue" class="tool-button" [disabled]="isEmptyTicket()">{{_translation.pt('map.tracking.ticket-detail.button.revoke')}}</button>
                    <button cmx-button color="blue" class="tool-button" (click)="resendTicket()" [disabled]="isEmptyTicket()">{{_translation.pt('map.tracking.ticket-detail.button.resend')}}</button>
                </div>
            </  cmx-tab>
            <cmx-tab [title]="_translation.pt('map.tracking.ticket-detail.tab-alerts')">
                <div class="side-1__section__header">
                    <svg class="icon-details">
                        <use xlink:href="#alert-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <h5>{{_translation.pt('map.tracking.ticket-detail.alerts-title')}}</h5>
                </div>
                <div class="truck-detail__separator"></div>
                <cmx-list>
                    <cmx-list-subheader>
                        <div fxLayout fxLayoutAlign="start center">
                            <div class="cmx-header-field" fxFlex fxLayout fxLayoutAlign="start center">
                                {{_translation.pt('map.tracking.ticket-detail.type')}}
                            </div>
                            <div class="cmx-header-field" fxFlex fxLayout fxLayoutAlign="start center">
                                {{_translation.pt('map.tracking.ticket-detail.datetime')}}
                            </div>
                            <div class="cmx-header-field" fxFlex fxLayout fxLayoutAlign="start center">
                                {{_translation.pt('map.tracking.ticket-detail.value')}}
                            </div>
                            <div class="cmx-header-field" fxFlex fxLayout fxLayoutAlign="start center">
                                {{_translation.pt('map.tracking.ticket-detail.driver')}}
                            </div>
                        </div>
                    </cmx-list-subheader>
                    <cmx-list-item zebra *ngFor="let alert of ticketAlerts">
                        <div class="cmx-list-field" fxFlex fxLayout fxLayoutAlign="start center">
                            {{alert.alertType?.alertTypeDesc}}
                        </div>
                        <div class="cmx-list-field" fxFlex fxLayout fxLayoutAlign="start center">
                            {{formatDateTime(alert.alertTime)}}
                        </div>
                        <div class="cmx-list-field" fxFlex fxLayout fxLayoutAlign="start center">
                            {{alert.alertValue}}
                        </div>
                        <div class="cmx-list-field" fxFlex fxLayout fxLayoutAlign="start center">
                            {{alert.driver.driverDesc}}
                        </div>
                    </cmx-list-item>
                </cmx-list>
            </cmx-tab>
        </cmx-tabs>
    </div>
</div>
<simple-modal [title]="_titleModal" [bodyMessage]="_messageModal"></simple-modal>