@import '../../../../../../submodules/dls/src/scss/variables/colors';

.truck-detail {
    display: flex;
    flex-direction: column;
    height: 100%;

    .detail-header {
        display: flex;
        align-items: flex-start;
        height: 10%;
    }

    .detail-header__label {
        margin: 0px 5px;
        color: #001C3B;
        font-size: 30px;
        font-weight: bold;
        line-height: 48px;
    }

    .detail-body {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .map-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        height: 70%;
    }

    .side-1__section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .map-container__header {
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: flex-start;
    }

    .side-1__section__header {
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: flex-start;
    }

    .icon-details {
        width: 20px;
        height: 20px;
    }

    
    .detail-body__row {
        display: flex;
        flex-direction: row;
        margin: 5px 0px;
        width: 100%;
    }

    .detail-body__cell {
        p {margin-right: 24px;}
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        &.detail-body__cell_2 {
            flex-grow: 2;
        }
        &.detail-body__cell_3 {
            flex-grow: 3;
        }

        &.detail-ticket-fields {
            flex-grow: 2.5;
            overflow-y: auto;
        }
    }

    .cmx-ticket {
        
        &.cmx-ticket__hide {
            display: none;
        }
    }

    .tabs-detail {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    
    .tabs-detail .cmx-tab {
        width: 100%;
    }

    .tab-detail {
        height: calc(100% - 62px);
    }

    .tool-button-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 3px;
        margin-bottom: 5px;
    }

    .tool-button {
        margin: 0px 2px;
    }

    .tool-button__hide {
        display: none;
    }

    .status-list {
        width: 100%;
        margin: 0px 5px;
    }

    .status-list>.cmx-subheader {
        padding: 3px 0px;
    }
    
    .status-list__square-status {
        border-radius: 2px;
        width: 24px;
        height: 16px;
        margin: 0px 3px 0px 0px;
        &.pending-status {
            background-color: $disabled-grey;
        }
        &.current-status {
            background-color: $bright-orange;
        }
        &.done-status {
            background-color: $active-green;
        }
    }

    .status-list__status-text {
        flex-grow: 2;
    }

    .header-status {
        background-color: $true-blue;
        color: $true-white;
        padding: 0px 0px 0px 3px;
    }

    .container-items {
        height: 250px;
        overflow: auto;
    }

    .dropdown-container {
        width: 280px;
    }
}

.truck-detail__separator {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    border-bottom: 0.49px solid #4D4D4D;
    margin: 5px 0px; 
}

.truck-detail__map {
    flex: 1;
    width: 100%;
    height: 100%;
}

::ng-deep { 
    .tab-content {
        display: flex;
        flex: 1;
    }
}

.ticket-products {
    width: 100%;
}

.ticket-products>.cmx-list-item.shadow-style {
    margin: 0px;
    padding: 8px;
}
