<div class="maindiv">
        <h3>{{t.pt('management.geofence')}}</h3>
        <h1>{{t.pt('management.points.delivery')}}</h1>
    <cmx-list>
        <cmx-list-subheader>
            <div fxLayout fxLayoutAlign="start center">
                <div class="cmx-header-field" fxFlex="20" fxLayout fxLayoutAlign="start center">
                    {{ t.pt('geofences.delivery-list.status') }} 
                </div>
                <div class="cmx-header-field" fxFlex="10" fxLayout fxLayoutAlign="start center">
                    {{ t.pt('geofences.delivery-list.client-id') }} 
                </div>
                <div class="cmx-header-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    {{ t.pt('geofences.delivery-list.client-name') }} 
                </div>
                <div class="cmx-header-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    {{ t.pt('geofences.delivery-list.plant') }} 
                </div>
                <div class="cmx-header-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    {{ t.pt('geofences.delivery-list.delivery-point') }} 
                    
                </div>
                <div class="cmx-header-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                </div>
            </div>
        </cmx-list-subheader>
        <cmx-list-item *ngFor="let pod of listPoD" class="list-item">
            <div fxLayout fxLayoutAlign="start center">
                <div class="cmx-list-field" fxFlex="20" fxLayout fxLayoutAlign="start center">
                    <div *ngIf='!isConfirmedPOD(pod)' class="status pending">
                        <span class="status__desc">{{t.pt('management.unconfirmared')}}</span>
                    </div>
                    <div *ngIf='isConfirmedPOD(pod)' class="status confirmed">
                        <span class="status__desc">{{t.pt('management.confirmation')}}</span>
                    </div>
                </div>
                <div class="cmx-list-field" fxFlex="10" fxLayout fxLayoutAlign="start center">
                    <span >{{pod.customer.customerCode}}</span>
                </div>

                <div class="cmx-list-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    <span class="datatable">{{pod.customer.customerDesc}}</span>
                </div>

                <div class="cmx-list-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    <span class="datatable">{{pod.plant.plantCode}} {{pod.plant.plantDesc}}</span>
                </div>

                <div class="cmx-list-field" fxFlex="30" fxLayout fxLayoutAlign="start center">
                    <span class="datatable">{{pod.destination.destinationDesc}}</span>
                </div>

                <div class="cmx-list-field" fxFlex="30" fxLayout fxLayoutAlign="end center">
                    <div class="editicon" title="Edit" (click)="editRow(pod)">

                    </div>
                </div>
            </div>
        </cmx-list-item>


    </cmx-list>
</div>