body{
    background: radial-gradient( circle, #223762 0%, #426B87 100% );
    font-family: 'Roboto' !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
}

p, div, span{
    font-family: 'Roboto';
}

/* Scrollbar styling
*********************************************************/
::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
// hover effect for both scrollbar area, and scrollbar 'thumb'
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}
 
// The scrollbar 'thumb' ...that marque oval shape in a scrollbar
::-webkit-scrollbar-thumb:vertical {
    background: rgba( 0, 0, 0, 0.5 );
    -webkit-border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px; // Prevent it from getting too small
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba( 0, 0, 0, 0.61 );
    -webkit-border-radius: 100px;
}

/* To visualize info like an input
*********************************************************/
.selected-info{
    label{
        color: $disabled-color;
    }
    div{
        display: flex;
        align-items: center;
        min-height: 32px;
        p{
            margin: 0;
        }
    }
}

/* Mixins
*********************************************************/

@mixin flex(){
    display: -webkit-flex;
    display: flex;
}

@mixin flex-grow( $value ){
    -webkit-flex-grow: $value;
    flex-grow: $value;
}

@mixin flex-basis( $value ){
    -webkit-flex-basis: $value; 
    flex-basis: $value;
}

@mixin box-sizing( $box ){
    box-sizing: $box;
    -moz-box-sizing: $box;
    -webkit-box-sizing: $box;
}