$background: radial-gradient( circle, #223762 0%, #426B87 100% );

$background-color: #426B87;
$primary-color: #29ABE2;
$dark-primary-color: #020028;
$accent-color: #7AC943;
$disabled-color: #9B9B9B;
$warning-color: #F9A23D;
$error-color: #C0392B;

$clear-grey: #F8F8F8;
$clear-gray: #F8F8F8;
$grey: #333333;
$gray: #333333;
$bluepayments-color: #139DF2;
$white: #FFFFFF;
$black: #1A1A1A;

$placeholder-color: #B3B3B3;
$inputBtmLine-color: #CCCCCC;