@mixin flex(){
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-inline(){
    display: -webkit-flex-inline;
    display: -ms-flexbox-inline;
    display: flex-inline;
}

@mixin flex-grow( $value ){
    -webkit-flex-grow: $value;
    -ms-flex-grow: $value;
    flex-grow: $value;
}

@mixin flex-shrink( $value ){
    flex-shrink: $value;
}

@mixin flex-basis( $value ){
    -webkit-flex-basis: $value; 
    -ms-flex-basis: $value;
    flex-basis: $value;
}

@mixin flex-wrap( $value ){
    -webkit-flex-wrap: $value;
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin box-sizing( $box ){
    box-sizing: $box;
    -moz-box-sizing: $box;
    -webkit-box-sizing: $box;
}

@mixin transition( $transition-rule ){
    transition: $transition-rule;
    -webkit-transition: $transition-rule;
    -moz-transition: $transition-rule;
}