<div class="back">
    <cmx-login title="Drivers Console" defaultRoute="/terms"></cmx-login>
</div>
<app-footer class="hidden-sm-down" [clickableCopyright]="false" (onLegalDocumentClicked)="onLegalDocumentClicked($event)"></app-footer>