<cmx-nav-header></cmx-nav-header>

<app-legal-documents-dialog #legalDocumentGU (onAcceptDialog)="acceptTermsDialog($event)" (onCancelDialog)="cancelTermsDialog($event)"></app-legal-documents-dialog>

<footer data-tid="cmx-footer" [class.sidebar]="sidebar">
    <ul class="primary-links">
        <li>
            <a> {{t.pt('label.legal.copyright')}} {{t.pt('label.legal.rights_reserved')}} </a>
        </li>
    </ul>
</footer>