<svg style="display:none;">
    <defs>
        <symbol id="right-double-icon" viewBox="0 0 13.5 16">
            <title>right-double</title>
            <path d="M.76,15.83a.71.71,0,0,1-.09-1L6.36,8,.67,1.17A.71.71,0,1,1,1.76.26L7.84,7.54a.71.71,0,0,1,0,.91L1.76,15.74a.71.71,0,0,1-1,.09"
                transform="translate(-0.5 0)" />
            <path d="M14,8a.71.71,0,0,1-.17.46L7.76,15.74a.71.71,0,0,1-1.09-.91L12.36,8,6.67,1.17A.71.71,0,1,1,7.76.26l6.07,7.29A.71.71,0,0,1,14,8Z"
                transform="translate(-0.5 0)" />
        </symbol>

        <symbol id="left-double-icon" viewBox="0 0 13.5 16">
            <title>left-double</title>
            <path id="Fill-1" d="M7.24,15.83a.71.71,0,0,0,.09-1L1.64,8l5.7-6.83A.71.71,0,0,0,6.24.26L.17,7.54a.71.71,0,0,0,0,.91l6.07,7.29a.71.71,0,0,0,1,.09"
                transform="translate(0 0)" />
            <path id="Fill-4" d="M13.24,15.83a.71.71,0,0,0,.09-1L7.64,8l5.7-6.83A.71.71,0,0,0,12.24.26L6.17,7.54a.71.71,0,0,0,0,.91l6.07,7.29a.71.71,0,0,0,1,.09"
                transform="translate(0 0)" />
        </symbol>


        <symbol id="geofences-icon" width="24px" height="24px" viewBox="0 0 24 24">
            <title>global/Left Nav/Icon/Geofences</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="global/Left-Nav/Icon/Geofences" stroke="#FFFFFF">
                    <path d="M12.0359073,21.4999336 C17.2660971,21.4805807 21.5,17.2347308 21.5,12 C21.5,6.75329488 17.2467051,2.5 12,2.5 C6.75329488,2.5 2.5,6.75329488 2.5,12 C2.5,13.0520387 2.67085316,14.0801819 3.00184845,15.0553147 C3.98574672,17.9539406 6.32917601,20.2187393 9.19125279,21.0839892 L12.0359073,21.4999336 Z"
                        id="Oval-8" transform="translate(12.000000, 12.000000) rotate(-285.000000) translate(-12.000000, -12.000000) "></path>
                    <path d="M9.51486712,9.50741589 L14.5663171,14.5588659" id="Line" stroke-linecap="square"></path>
                    <path d="M9.45771649,9.50741589 L14.5155475,14.5588659" id="Line" stroke-linecap="square" transform="translate(11.986632, 12.033141) scale(-1, 1) translate(-11.986632, -12.033141) "></path>
                    <path d="M2.5,12 L11.5,12" id="Line-2" stroke-linecap="square"></path>
                </g>
            </g>
        </symbol>

        <symbol id="plant-selection-icon" width="24px" height="24px" viewBox="0 0 24 24">
            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
            <title>global/Left Nav/Icon/plant</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="global/Left-Nav/Icon/plant" stroke="#FFFFFF">
                    <polyline id="Path-9" points="15.7095532 12.4526525 19.5 11.6028351 21.5 21.5040474 2.56677667 21.5040474 4.51094128 7.52099385 7.51014395 7.52099385 8.5909107 14.6077733"></polyline>
                    <path d="M6.02871468,5.50805956 C5.85616912,5.51165286 5.68006959,5.48541536 5.50737636,5.42595231 C5.15593523,5.30494143 4.87809422,5.06681304 4.7024647,4.77022915 C4.48521805,4.40336681 4.42436209,3.9470635 4.57404769,3.51234495 C4.72867958,3.06326133 5.07454809,2.73435648 5.48925339,2.5853288 C5.80052556,2.47347065 6.15057899,2.46295168 6.48765505,2.57901627 C6.84664251,2.70262557 7.12883516,2.94843599 7.30373868,3.25392493 C7.34936214,3.33361151 7.3876854,3.41735876 7.41816721,3.50405697 C7.52673663,3.81285666 7.53582752,4.15909305 7.42098373,4.49262364 L11.5558284,5.77835023"
                        id="Oval" transform="translate(8.023722, 4.137468) rotate(360.000000) translate(-8.023722, -4.137468) "></path>
                    <path d="M15.4883472,7.1672807 C15.1369061,7.04626981 14.8590651,6.80814142 14.6834356,6.51155754 C14.4661889,6.1446952 14.405333,5.68839188 14.5550186,5.25367333 C14.7096505,4.80458971 15.055519,4.47568487 15.4702243,4.32665719 C15.7814964,4.21479903 16.1315499,4.20428006 16.4686259,4.32034466 C16.8276134,4.44395396 17.109806,4.68976437 17.2847096,4.99525332 C17.330333,5.0749399 17.3686563,5.15868714 17.3991381,5.24538536 C17.5077075,5.55418504 17.5167984,5.90042144 17.4019546,6.23395202 L20.6454761,7.24979812"
                        id="Oval-Copy-2" transform="translate(17.559032, 5.743856) rotate(154.000000) translate(-17.559032, -5.743856) "></path>
                    <polyline id="Path-9-Copy" points="9.91881379 12.4815619 13.8382056 11.6028351 15.3503339 19.0887866"></polyline>
                    <path d="M13.3277528,7.37017945 C13.4134152,7.31238399 13.4927874,7.24597613 13.5646276,7.17219773 C13.82777,6.90195573 13.9898568,6.53282517 13.9898568,6.12583721 C13.9898568,5.74056994 13.8446093,5.38922705 13.605886,5.12358035 C13.3312908,4.81801595 12.9330167,4.62583721 12.4898568,4.62583721 C12.129964,4.62583721 11.799674,4.75258224 11.5411883,4.96387093 C11.2046731,5.23894168 10.9898568,5.65730293 10.9898568,6.12583721"
                        id="Oval-6" transform="translate(12.489857, 5.998008) rotate(80.000000) translate(-12.489857, -5.998008) "></path>
                </g>
            </g>
        </symbol>

        <symbol id="monitoring-icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
            <title>global/Left Nav/Icon/monitor</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="global/Left-Nav/Icon/monitor" stroke="#FFFFFF">
                    <g id="Group" transform="translate(11.683285, 12.481668) rotate(-45.000000) translate(-11.683285, -12.481668) translate(4.183285, 5.481668)">
                        <path d="M1.5,0.5 L1.5,13.5 L14.5,13.5 L14.5,0.5 L1.5,0.5 Z" id="Rectangle-path" transform="translate(8.000000, 7.000000) rotate(-360.000000) translate(-8.000000, -7.000000) "></path>
                        <polyline id="Path-5" transform="translate(7.467509, 7.066320) rotate(-360.000000) translate(-7.467509, -7.066320) " points="1.92999679 7.51489093 5.93599905 7.51489093 6.96912058 3.53123924 9.00500523 10.6014014 10.0240843 7.52490589 13.0050204 7.52490589"></polyline>
                        <path d="M1.5,1.5 L1.5,5.5" id="Line" stroke-linecap="square"></path>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id="reports-icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
            <title>global/Left Nav/Icon/reports</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="global/Left-Nav/Icon/reports" stroke="#FFFFFF">
                    <path d="M5.5,5.5 L5.5,18.5 L18.5,18.5 L18.5,5.5 L5.5,5.5 Z" id="Rectangle-path" transform="translate(12.000000, 12.000000) rotate(-135.000000) translate(-12.000000, -12.000000) "></path>
                    <path d="M12.3535534,20.3033009 L12.3535534,14.3033009" id="Line" transform="translate(12.353553, 17.303301) rotate(-45.000000) translate(-12.353553, -17.303301) "></path>
                    <path d="M13.0606602,10.0606602 L13.0606602,16.0606602" id="Line-2" stroke-linecap="square" transform="translate(13.060660, 13.060660) rotate(-45.000000) translate(-13.060660, -13.060660) "></path>
                    <path d="M14.8284271,5.87867966 L14.8284271,13.8786797" id="Line-3" stroke-linecap="square" transform="translate(14.828427, 9.878680) rotate(-45.000000) translate(-14.828427, -9.878680) "></path>
                </g>
            </g>
        </symbol>

        <symbol id="scheduling-icon" width="24px" height="24px" viewBox="0 0 24 24">
            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
            <title>global/Left Nav/Icon/scheduling</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="global/Left-Nav/Icon/scheduling" stroke="#FFFFFF">
                    <path d="M5.5,5.5 L5.5,18.5 L18.5,18.5 L18.5,5.5 L5.5,5.5 Z" id="Rectangle-path" transform="translate(12.000000, 12.000000) scale(-1, 1) rotate(-315.000000) translate(-12.000000, -12.000000) "></path>
                    <path d="M6.92760095,12.8435829 L14.8338987,4.93728505" id="Shape" stroke-linejoin="round"></path>
                    <polyline id="Shape" stroke-linejoin="round" transform="translate(11.367737, 15.473459) rotate(-45.000000) translate(-11.367737, -15.473459) "
                        points="10.4344038 13.8401253 12.3010705 12.906792 12.3010705 18.0401253"></polyline>
                    <rect id="Rectangle-path" stroke-linejoin="round" transform="translate(14.361156, 12.150057) rotate(-45.000000) translate(-14.361156, -12.150057) "
                        x="12.9611559" y="9.81672347" width="2.8" height="4.66666667" rx="1.4"></rect>
                </g>
            </g>
        </symbol>

        <symbol id="tracking-icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
            <title>global/Left Nav/Icon/tracking</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="global/Left-Nav/Icon/tracking">
                    <path d="M12,19.9166667 C16.3722543,19.9166667 19.9166667,16.3722543 19.9166667,12 C19.9166667,9.80546869 19.0237375,7.81949216 17.5813819,6.38557304 C16.8998713,5.70804867 16.0956987,5.15377369 15.2050993,4.75898332 C14.2252621,4.32463511 13.1408106,4.08333333 12,4.08333333 C7.62774573,4.08333333 4.08333333,7.62774573 4.08333333,12 C4.08333333,13.3010045 4.39716087,14.5287107 4.95324426,15.6115469 C5.14997978,15.9946411 5.37703746,16.3596026 5.63124793,16.7032619"
                        id="Oval-7" stroke="#FFFFFF" transform="translate(12.000000, 12.000000) rotate(-180.000000) translate(-12.000000, -12.000000) "></path>
                    <path d="M11.9990031,14.9156698 C13.6098336,14.9156698 14.9156698,13.6098336 14.9156698,11.9990031 C14.9156698,10.3881726 13.6098336,9.08233645 11.9990031,9.08233645 C10.3881726,9.08233645 9.08233645,10.3881726 9.08233645,11.9990031 C9.08233645,12.5514218 9.23591327,13.0679706 9.50270041,13.5082832"
                        id="Oval-7" stroke="#FFFFFF" transform="translate(11.999003, 11.999003) rotate(-187.000000) translate(-11.999003, -11.999003) "></path>
                    <path d="M9.9711225,5.67136302 C9.9711225,6.69728336 10.2563366,7.65658839 10.7517984,8.47431179" id="Oval-7" stroke="#FFFFFF"
                        transform="translate(10.387789, 7.072837) scale(-1, 1) rotate(124.000000) translate(-10.387789, -7.072837) "></path>
                    <circle id="Oval-7" fill="#FFFFFF" transform="translate(12.023599, 12.000000) scale(-1, 1) translate(-12.023599, -12.000000) "
                        cx="12.0235986" cy="12" r="1"></circle>
                    <path d="M12,2 L12,12" id="Line" stroke="#FFFFFF" transform="translate(12.000000, 7.000000) scale(-1, 1) translate(-12.000000, -7.000000) "></path>
                    <path d="M2,12 L6,12" id="Line-2" stroke="#FFFFFF"></path>
                    <path d="M12,18 L12,22" id="Line-2-Copy-2" stroke="#FFFFFF"></path>
                    <path d="M18,12 L22,12" id="Line-2-Copy" stroke="#FFFFFF"></path>
                </g>
            </g>
        </symbol>

        <symbol id="legal-icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <title>Legal</title>
                <path d="M2.4,4.8 L9.2,4.8 C9.3,4.8 9.4,4.7 9.4,4.6 C9.4,4.5 9.3,4.4 9.2,4.4 L2.4,4.4 C2.3,4.4 2.2,4.5 2.2,4.6 C2.2,4.7 2.3,4.8 2.4,4.8 Z"
                    id="Shape"></path>
                <path d="M12.7,13.3 C12.7,13.2 12.6,13.1 12.5,13.1 L2.4,13.1 C2.3,13.1 2.2,13.2 2.2,13.3 C2.2,13.4 2.3,13.5 2.4,13.5 L12.5,13.5 C12.6,13.5 12.7,13.4 12.7,13.3 Z"
                    id="Shape"></path>
                <path d="M2.4,10.6 L12.5,10.6 C12.6,10.6 12.7,10.5 12.7,10.4 C12.7,10.3 12.6,10.2 12.5,10.2 L2.4,10.2 C2.3,10.2 2.2,10.3 2.2,10.4 C2.2,10.5 2.3,10.6 2.4,10.6 Z"
                    id="Shape"></path>
                <path d="M2.2,7.5 C2.2,7.6 2.3,7.7 2.4,7.7 L12.5,7.7 C12.6,7.7 12.7,7.6 12.7,7.5 C12.7,7.4 12.6,7.3 12.5,7.3 L2.4,7.3 C2.3,7.3 2.2,7.4 2.2,7.5 Z"
                    id="Shape"></path>
                <path d="M14.8,4.4 L11.4,1 C11.4,1 11.3,0.9 11.2,0.9 L0.2,0.9 C0.2,1 0.2,1 0.2,1 C0.1,1 0,1.1 0,1.2 L0,21.5 C0,21.6 0.1,21.7 0.2,21.7 L14.7,21.7 C14.8,21.7 14.9,21.6 14.9,21.5 L14.9,4.6 C14.9,4.5 14.9,4.5 14.8,4.4 Z M11.6,1.8 L14.2,4.4 L11.6,4.4 L11.6,1.8 Z M14.4,21.2 L0.4,21.2 L0.4,1.5 L0.5,1.5 L11.1,1.5 L11.1,4.6 C11.1,4.7 11.2,4.8 11.3,4.8 L14.4,4.8 L14.4,21.2 Z"
                    id="Shape"></path>
                <path d="M12.5,18.3 L11.7,18.5 L10.8,16.5 C10.8,16.4 10.7,16.4 10.6,16.4 C10.5,16.4 10.4,16.4 10.4,16.5 L9.5,18.2 L8.7,16 C8.4,15.8 8.3,15.7 8.2,15.7 C8.1,15.7 8.1,15.8 8,15.8 L6.8,18.6 L6,18.8 C5.9,18.8 5.9,18.9 5.9,18.9 C5.9,19 5.9,19 5.9,19.1 C5.9,19.2 6,19.2 6,19.2 C6.1,19.2 6.1,19.2 6.2,19.2 L7.2,19 C7.3,19 7.3,18.9 7.4,18.9 L8.4,16.6 L9.2,18.7 C9.2,18.8 9.3,18.8 9.4,18.9 C9.5,18.9 9.6,18.9 9.6,18.8 L10.6,17.1 L11.4,18.8 C11.4,18.9 11.6,19 11.7,18.9 L12.7,18.7 C12.8,18.7 12.8,18.6 12.8,18.6 C12.8,18.5 12.8,18.5 12.8,18.4 C12.8,18.3 12.7,18.3 12.7,18.3 C12.6,18.3 12.6,18.3 12.5,18.3 Z"
                    id="Shape"></path>
            </symbol>
            <symbol id="icon-close" viewBox="0 0 25.68 25.68">
                <title>close icon</title>
                <path id="Fill-1" d="M6.83,6l5-5A.58.58,0,0,0,11,.17l-5,5-5-5A.58.58,0,0,0,.17,1l5,5-5,5a.58.58,0,0,0,.41,1A.58.58,0,0,0,1,11.83l5-5,5,5a.58.58,0,0,0,.83,0,.58.58,0,0,0,0-.83Z"
                    transform="translate(0 0)" />
            </symbol>
    </defs>
</svg>
<div [ngClass.lt-sm]="{ 'cmx-side-nav-bar' : true, 'expand': !isCollapsed }" [ngClass.sm]="{ 'cmx-side-nav-bar-tab' : true, 'expand' : !isCollapsed } "
    [ngClass.gt-sm]="{ 'cmx-side-nav-bar-desk' : true, 'collapse' : isCollapsed }">
    <div class="cmx-profile" [fxHide.gt-sm]="true" [ngClass.lt-md]="{ 'full-collapse' : _isCollapsed }">
        <span class="circle profilespan">{{initials}}</span>
        <label>{{_fullNameUser}}</label>
    </div>
    <div fxHide [fxShow.gt-sm]="true" class="collapse-btn" (click)="toggleSidebar()">
        <span>
            <svg class="icon-toggle-white">
                <use xlink:href="" [attr.xlink:href]="getToggleIcon(_isCollapsed)" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
        </span>
    </div>
    <div class="cmx-title-section" (click)="_showLegalEntity = !_showLegalEntity" [ngClass]="{ 'collapse' : _isCollapsed }">
        <div class="selected-legal-entity" class.gt-xs="selected-legal-entity-desk">
            <h3>Cemex inc.</h3>
        </div>
    </div>
    <ul class="sidebar-ul" [ngClass]="{'hide-tab': _showLegalEntity}" [ngClass.gt-xs]="{ 'collapse' : _isCollapsed }">
        <li *ngFor="let item of _menuItems" [ngClass]="{ 'active' : _clickedApp === item, 'legal' : item.applicationTitle === 'Legal' }">
            <a (click)=" onApplicationItemClick(item)">
                <span class="span-icon">
                    <svg class="cmx-icon-sidemenu">
                        <use xlink:href="" [attr.xlink:href]="getIdIcon(item.applicationIcon)" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </span>
                <span class="as-label" [ngClass]="{ 'collapse' : _isCollapsed }">
                    {{item.applicationTitle}}
                
                    <ng-container *ngIf="item.menu">
                        <ul class="submenu-list">
                            <li *ngFor="let subitem of item.menu.menuItems" (click)="onSubItemClick(subitem)">{{ subitem.menuTitle }}</li>
                        </ul>
                    </ng-container>
                </span>
            </a>
        </li>
    </ul>
</div>
<div class="faded-div" [ngClass]="{ 'show-faded' : _showFaded }">
    <span class="span-icon" (click)="toggleSidebar()"> 
            <svg class="cmx-icon-close">
                <use xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
    </span>
</div>