$sidebar-width: 160px;
$header-height: 54px;
$dashboard-index: 1000;

.cmx-side-nav-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0;
    height: 100%;
    width: 0;
    background: #003876;
    transition: all 0.25s ease-in-out;
    &.expand {
        width: 80%;
    }
    z-index: $dashboard-index;
}

.cmx-side-nav-bar-tab {
    position: fixed;
    display: flex;
    flex-direction: column;
    // font-family: "Roboto";
    background: #003876;
    width: 0px;
    left: 0px;
    height: calc(100vh - 56px);
    top: $header-height;
    transition: all 0.25s ease-in-out;
    &.expand {
        width: 160px;
    }
    z-index: $dashboard-index;
}

.cmx-side-nav-bar-desk {
    position: fixed;
    top: $header-height;
    left: 0px;
    height: calc(100% - 56px);
    width: 160px;
    // font-family: "Roboto";
    background: #003876;
    background-image: linear-gradient(90deg,#002a59 43px,#003876 0);
    transition: all 0.25s ease-in-out;
    &.collapse {
        width: 43px;
        display: flex;
    }
    z-index: $dashboard-index;
}

.cmx-title-section {
    height: 90px;
    background-color: #002A59;
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    cursor: pointer;
    h3 {
        font-size: 14px;
        color: #FFF;
        margin: 0;
        line-height: 1.1;
    }
    span {
        font-size: 11px;
        color: #BFCDDC;
    }
    &.collapse {
        display: none;
    }
}

.selected-legal-entity-desk {
    padding-left: 9px;
    padding-top: 22px;
    flex-grow: 2;
}

.selected-legal-entity {
    padding-left: 9px;
    padding-top: 10px;
    flex-grow: 2;
}
.arrow-single-mob {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cmx-title-section-mob {
    height: 70px;
    background-color: #002A59;
    position: relative;
    vertical-align: middle;
    padding-left: 12px;
    h3 {
        font-size: 15px;
        color: #FFF;
        margin: 0;
        line-height: 1.1;
    }
    span {
        font-size: 11px;
        color: #BFCDDC;
    }
}

.sidebar-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 137px);
    background-image: linear-gradient(90deg,#002a59 43px,#003876 0);
    &.hide-tab {
        display: none;
    }

    &.collapse {
        margin-top: 85px;
        overflow-x: hidden;
    }
    
    li {
        list-style-type: none;
        font-size: 12px;
        color: #FFF;
        display: block;
        cursor: pointer;
        
        &.legal{
            visibility: visible;
            @media screen and (min-width: 960px) {
                visibility: hidden;
                }
        }

        &:hover {
            .show-float-opt {
                visibility: visible;
                z-index: $dashboard-index;
                overflow-y: auto;
            }
            a {
                .span-icon {
                    opacity: 1;
                    .cmx-icon-sidemenu {
                        opacity: 1;
                    }
                }

                .as-label {
                    font-weight: bold;
                    opacity: 1;
                }
            }
        }

        &.active {
            a {
                .span-icon {
                    opacity: 1;
                    background-color: #001B34;
                    .cmx-icon-sidemenu {
                        opacity: 1;
                    }
                }

                .as-label{
                    font-weight: bold;
                    opacity: 1;
                    background-color: #00264A;
                }
            }
        }

        a {
            display: inline-block;
            color: #fff;
            width: 100%;
            line-height: 26px;

            &.active {
                background-image: linear-gradient(90deg, #021A35 43px, #092448 0);
            }

            .span-icon {
                width: 42px;
                height: 48px;
                display: inline-block;
                float: left;
                opacity: .8;
                transition: all .2s;

                .cmx-icon-sidemenu {
                    width: 24px;
                    height: 24px;
                    margin-top: 12px;
                    margin-left: 10px;
                    fill: #fff;
                    transition: all .2s;
                }
            }

            .as-label {
                display: inline-block;
                float: left;
                padding: 14px 12px;
                width: calc(100% - 44px);
                color: #fff;
                font-size: .875rem;
                line-height: 1.25rem;
                text-decoration: none;
                opacity: .8;
                transition: all .2s;
                box-sizing: border-box;
                &.collapse {
                    display: none;
                }
            }
        }
    }
}

.item-selected {
    background-color: #002A59;
    border-bottom: 1.5px solid #001935;
    label {
        opacity: 1;
        font-weight: bold;
    }
    span {
        background-color: #001935;
    }
}

.collapse-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #001935;
    width: 20px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    &:hover {
        cursor: pointer;
    }

    span {
        display: flex;
    }
}

.icon-is-expanded {
    background-image: url('/svgmap/left-double-silver.svg?embed');
    background-repeat: no-repeat;
    height: 10px;
    width: 14px;
    border: none;
    background-color: transparent;
    margin-left: 3px;

    &:focus {
        outline-width: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

.btn-expand {
    position: absolute;
    top: 0px;
    right: 0px;
}

.icon-is-collapsed {
    background-image: url('/svgmap/right-double-silver.svg?embed');
}

.cmx-profile {
    display: inline-block;
    label {
        color: #FFF;
        opacity: .75;
    }
    &.full-collapse {
        display: none!important;
    }
}

.circle {
    width: 31px;
    height: 31px;
    margin: 8px;
    border-radius: 50%;
    line-height: 31px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}

.notifications {
    background-color: #EE3D42;
    color: #fff;
}

.profilespan {
    background-color: #FFF;
    color: #002A59;
}

.footer-container {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    position: fixed;
    bottom: 54px;
}


.footer {
    color: #FFF;
    font-size: 9px;
}

.cmx-sidebar-sub {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    padding-left: 43px;
    box-sizing: border-box;
    width: 100%;
    
    &.show-float-opt {
        visibility: hidden;
        position: absolute;
        left: 99%;
        width: 150px;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    &.showSubItems {
        display: block;
    }
    li {
        display: inline-block;
        float: left;
        border-bottom: 1px solid #214e80;
        width: 100%;
        a {
            background-color: #10447E;
            font-size: 0.75rem;
            line-height: 16px;
            padding-top: 4px;
            padding-bottom: 30px;
            display: inline-block;
            padding: 8px 10px;
            text-decoration: none;
            transition: all .2s;

            box-sizing: border-box;
        }
        
        &:hover {
            a:hover {
                color: #FFFFFF;
                opacity: 1;
                font-weight: bold;
            }
        }

        &.active {
            color: #FFFFFF;
            opacity: 1;
            font-weight: bold;
        }
    }
}


::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #73808F;
    border-radius: 100px;
}

.legal-entity {
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    background-color: #001C3B;
    &.hide-tab {
        display: none;
    }

    .line-header {
        width: 100%;
        height: 1px;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: #3FA9F5;
    }

    .search-legal-entity {
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        min-height: 20px;
        div {
            display: flex;
            flex-direction: row;
            width: 90%;
            border-bottom: #FFF solid 1px;
            input {
                flex-grow: 1;
                min-width: 20%;
                background: #001C3B;
                margin-left: 3px;
                border: none;
                outline: none;
                color: #FFF;
                margin-bottom: 3px;
            }
        }
    }

    .ul-legal-entity {
        background-image: none;
        height: calc(100% - 44px - 30px);
        padding: 0px;
        margin: 0px;
        overflow: auto;

        li {
            display: flex;
            flex-direction: column;
            margin: 5px 0px 10px 0px;
            color: #FFF;
            cursor: pointer;
            p {
                font-size: 14px;
                margin: 0px;
                padding: 2px 0px 2px 10px;
                opacity: .75;
                &:hover{
                    opacity: 1;
                }

                &.active {
                    font-style: italic;
                    font-weight: bolder;
                    opacity: 0.9;
                }
            }
        }
    }
}

.icon-arrow-single-blue {
    width: 8px;
    height: 8px;
    fill: #3FA9F5;
}

.icon-arrow-mobile-blue {
    width: 15px;
    height: 15px;
    fill: #3FA9F5;
}

.icon-magnifier {
    width: 15px;
    height: 15px;
    fill: #3FA9F5;
}

.sidebar-option {
    padding: 0px 15px;
    opacity: .75;
    height: 48px;
    display: flex;
    align-items: center;
    span {
        font-size: 14px;
        color: #FFF;
    }

    .copyright {
        font-size: 8px;
        color: #FFF;
    }

    &.custom-option {
        padding: 0px 40px;
    }

    &.collapse {
        display: none;
    }
}

.sidebar-option-box {
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    label {
        color: #FFF;
        opacity: .75;
    }
    .language {
        padding: 0px 30px;
    }
}

.collapse-items {
    display: none;
    &.show-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.icon-language-white {
    width: 25px;
    height: 25px;
    fill: #FFF;
}

.icon-legal-white {
    width: 25px;
    height: 25px;
    fill: #FFF;
}

.icon-check-white {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-left: 10px;
    fill: #fff;
}

.icon-signout {
    width: 25px;
    height: 25px;
    fill: #fff;
}

.faded-div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    background-color:  rgba(0,0,0,0.4);
    z-index: $dashboard-index - 1;
    &.show-faded {
        display: block;
    }
    .span-icon {
        top: 15px;
        right: 10px;
        width: 50px;
        height: 50px;
        position: fixed;
        .cmx-icon-close {
            fill: #FFF;
            width: 30px;
            height: 30px;
            /*margin-top: 12px;
            margin-left: 10px;*/
        }
    }
}

.signout-option {
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.icon-toggle-white {
    width: 13px;
    height: 13px;
    fill: #FFF;
}

.submenu-list { 
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: normal;

    li {
        margin-bottom: 10px;
    }
}