.height-item {
    margin-bottom: 16px;
    height: 60px !important;
}

.datarow {
    font-size: 14px;
    line-height: 19px;
    padding: 10px;
    font-weight: 500;
}
.btn-confirm{
    margin: 20px 0px 40px;
    float: right;
    width: 100%;
}
h1{
    font-size: 30px;
}
h3{
    color: #3FA9F5;
}
a.disabled {
    float: right;
    background-color: #d6d6d6 !important;
}
a.bright-green{
    float: right;
}
.itemsplant{
    padding: 23px 0 0 0;
}
.icon-filter{
    height: 0;
  
}
.icon-filter-svg{
    width: 12px;
    height: 12px;
}
.margin-header{
    margin:0 0 0 14px;
}