<!-- <div class="mainDiv" style="background-color: #F4F6F9;"> -->
<div class="container">

    <div class="itemsplant">
        <!-- <cemex-plant-table [headerKeys]="headerData" [rowData]="plantsSearch" [filterData]="filterData"></cemex-plant-table> -->
        <h3>{{t.pt('home.selection')}}</h3>
        <h1>{{t.pt('home.available')}}</h1>
        <cmx-table id="tblListPlants">

            <cmx-table-header fxLayout="row">
                <cmx-header-cell fxFlex="5" fxLayout="row" fxLayoutAlign="start center">
                    <cmx-checkbox (change)="allChecked($event)" [checked]="isCheckAll"></cmx-checkbox>
                </cmx-header-cell>

                <cmx-header-cell fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                    <span>{{t.pt('views.plantselection.plantId')}}</span>

                </cmx-header-cell>
                <cmx-header-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                    <div *ngIf="filtericonplant" class="icon-filter">
                        <!-- <svg class="icon-magnifier-glass icon-filter-svg" >
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnifier-glass"></use>
                                </svg> -->
                    </div>
                    <span [ngClass]="{'margin-header':filtericonplant}">{{t.pt('views.plantselection.plant_name')}}</span>
                    <cmx-cell-filters>
                        <filter-sorter id="filtro" [collection]="plantsForFilters" [keyTitle]="plantDesc" (isfiltered)="isFiltered($event)" (onSelectedFilterItem)="getFilterData($event)"
                            [sorterCustomFn]="sorterPlantsFn" [searchFilterFn]="searchPlantsFn">

                        </filter-sorter>
                    </cmx-cell-filters>
                </cmx-header-cell>
                <cmx-header-cell fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
                    <span>{{t.pt('views.plantselection.plant_address')}}</span>
                </cmx-header-cell>
                <cmx-header-cell fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <span>{{t.pt('views.plantselection.business')}}</span>
                </cmx-header-cell>
                <cmx-header-cell fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                    <span>{{t.pt('views.plantselection.contact')}}</span>
                </cmx-header-cell>
            </cmx-table-header>
            <cmx-table-body>
                <ng-container *ngFor="let plant of plantsSearch">
                    <cmx-table-item fxLayout="row" [checked]="false" class="height-item">
                        <div fxFlex="5" fxLayout="row" fxLayoutAlign="start center">
                            <cmx-checkbox class="datarow" [checked]="plant.monitored" (change)="checkPlant(plant, $event)"></cmx-checkbox>
                        </div>
                        <div fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                            <span class="datarow">{{plant.plantCode}}</span>
                        </div>
                        <div fxFlex="20" fxLayout="row" has-filters="true" fxLayoutAlign="start center">

                            <span class="datarow">{{plant.plantDesc}}</span>
                        </div>
                        <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
                            <span class="datarow">
                                {{plant.plantAddress}}
                            </span>
                        </div>

                        <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                            <span class="datarow">
                                {{plant.businessLine}}
                            </span>
                        </div>
                        <div fxFlex="15" fxLayout="row" fxLayoutAlign="start center">
                            <span class="datarow">
                                {{plant.contactPhone}}
                            </span>
                        </div>

                    </cmx-table-item>
                </ng-container>

            </cmx-table-body>
        </cmx-table>

        <div class="row">
            <div class="col-md-3" class="btn-confirm">
                <a class="button active" (click)=" addPlants()" href="#" onclick="return false;" [ngClass]="{'bright-green': !isDisable, 'disabled': isDisable}">{{t.pt('views.common.confirm')}}</a>
            </div>
        </div>

    </div>
</div>
<!-- </div> -->