@import '../../../../../submodules/dls/src/scss/variables/_colors.scss';

.bottom-overlay-content {
    padding: 16px 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row-reverse;
    background-color: $true-white;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.12);
    margin: 0px 0px 24px 0px;
    text-align: right;
}

.opacity {
    background-color: rgba(255,255,255,0.9);
}